.link-list-secondary {
  .label {
    margin: 0;
    color: clr(grayscale, 900);
    padding: space(1) 0 space(1.5);
    border-bottom: solid 1px clr(primary-dark, 300);
  }

  .link__icon {
    display: none;
  }
}

.link-list-secondary__items {
  margin: 0;
}

.link-list-secondary__item {
  border-bottom: solid 1px clr(primary-dark, 300);

  &::after {
    width: 0;
    content: '';
    position: absolute;
    transition: width 0.35s ease;
  }

  &:hover {
    &::after {
      width: 100%;
      border-bottom: solid 2px clr(primary, 700);
    }

    .link__content {
      color: clr(grayscale, 1000);
    }
  }

  .link__content {
    @extend .heading--2xs;

    margin: 0;
    text-transform: none;
    text-decoration: none;
    padding: space(1.5) 0;
    transition: color 0.25s;
    color: clr(primary-dark, 700);

    &::after {
      display: none;
    }

    @include medium {
      padding-right: space(3);
    }

    @include large {
      padding-right: space(4.5);
    }
  }

  &::before {
    display: none;
  }

  a {
    &:focus {
      .link__content {
        outline: 4px solid clr(secondary, 700);
      }
    }
  }
}

/* Variations */
.link-list-secondary--black {
  .link-list-secondary__items {
    .link__content {
      font-weight: 700;
      color: clr(grayscale, 900);
    }
  }

  .link-list-secondary__see-more {
    margin-top: space(1.5);

    .link__icon {
      display: initial;
    }
  }
}

.section__sidebar {
  .link-list-secondary__items {
    .link--primary {
      @extend .sidebar__wrapper;

      .link__content {
        padding-right: 0;
        grid-column: 1 / -2;
      }
    }
  }
}
