/* A */
.main-menu__link {
  display: block;
  padding: px2rem(20) 0;
  margin: 0;
  color: clr(grayscale, 0);
  font-size: fontsize(28);
  font-weight: $font-medium;
  text-decoration: none;

  &:focus {
    border: transparent;
    outline: 4px solid clr(secondary,700);
    outline-offset: -4px;
  }

  &::after,
  &::before {
    @include transition(transform, 0.25s, cubic-bezier(0.4,0.005,1,0.75));

    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: clr(grayscale, 700);
    height: px2rem(1);
    width: 100%;
    transform: scaleX(1);
    transform-origin: 0% 50%;

    @media (prefers-reduced-motion: reduce) {
      transition: none;
    }
  }

  &::after {
    transform: scaleX(0);
  }

  &--active,
  &:hover {
    color: clr(grayscale, 0);

    &::after {
      background-color: clr(grayscale, 0);
      transform: scaleX(1);
    }
  }

  @include large {
    @include label--md;

    color: clr(grayscale, 1000);
    position: relative;
    display: inline-block;
    padding: space(2) px2rem(12);
    margin: 0;

    &::before {
      transform: scaleX(0);
    }

    &::after {
      background-color: clr(primary, 800);
      height: px2rem(4);
    }

    &--active,
    &:hover {
      color: clr(grayscale, 1000);

      &::after {
        background-color: clr(primary, 800);
        transform: scaleX(1);
      }
    }
  }

  @include xl {
    padding: space(2) space(1);
  }

  &__icon--hide-icon {
    display: none;
  }
}
