// Storybook styling
.icons-demo {
  display: flex;
  flex-wrap: wrap;

  .icon {
    height: 100px;
    padding: space(1);
    width: 100px;

    @media (prefers-color-scheme: dark) {
      fill: clr(secondary-light-high);
    }
  }

  pre {
    background-color: clr(grayscale);
    font-size: 0.8rem;
    margin: 0;
    text-align: center;
  }
}

.icons-demo__item {
  border: 1px solid clr(grayscale);
  margin: space(0.5);
}
