{% set featured_case_study__base_class = 'featured-case-study-secondary' %}

<div {{ bem(featured_case_study__base_class, [featured_case_study__modifiers]) }}>
  {% include "@molecules/featured-case-study/secondary/link.twig" %}
  <div {{ bem('content', [], featured_case_study__base_class) }}>
    {% if featured_case_study__heading %}
      {% include "@atoms/links/link/link.twig" with {
        link_modifiers: ['dark'],
        link_url: featured_case_study__url,
        link_content: featured_case_study__heading,
      } %}
    {% endif %}
    {% if featured_case_study__body %}
      {% include "@atoms/text/text/01-paragraph.twig" with {
        paragraph_modifiers: ['md'],
        paragraph_content: featured_case_study__body,
      } %}
    {% endif %}
  </div>
</div>
