{#
/**
 * This is strictly an exmaple file to demonstrate markup in Storybook.
 * It is not intended to be included in any other component.
 */
#}
<div class="text text-long">
  <h2>Subheading 1 looks like this</h2>
	<p class="paragraph--lg">Ut sodales, ex sit amet consectetur accumsan, nibh ex sollicitudin metus, volutpat lacinia arcu nibh vel ante. Proin dapibus dui eget justo tincidunt eleifend. Mauris porta elementum est. Nullam euismod quis libero sed convallis. Vestibulum fringilla felis nec turpis aliquam auctor a a lectus. Etiam porttitor at eros vitae posuere. Suspendisse nec mollis dolor, vel cursus leo. Integer vitae sem vitae leo pretium porta. <mark>In consequat magna purus</mark>, iaculis rhoncus velit imperdiet sit amet.</p>
  <br>
  <h3>Subheading 2 looks like this</h3>
  <p class="paragraph--md">Pellentesque suscipit fringilla libero eu ullamcorper. Cras risus eros, faucibus sit amet augue id, tempus pellentesque eros. In imperdiet tristique tincidunt. Integer lobortis lorem lorem, id accumsan arcu tempor id. Suspendisse vitae accumsan massa.</p>
  <br>
  <h4>Subheading 3 looks like this</h4>
  <ol>
    <li>Ordered list item text displays here like so. Donec dictum tristique porta. Etiam convallis lorem lobortis nulla molestie, nec tincidunt ex ullamcorper. Quisque ultrices lobortis elit sed euismod. Duis in ultrices dolor.</li>
    <li>Donec dictum tristique porta. Etiam convallis lorem lobortis nulla molestie, nec tincidunt ex ullamcorper. Quisque ultrices lobortis elit sed euismod.</li>
    <li>Maecenas dignissim justo eget nulla rutrum molestie. Maecenas lobortis sem dui, vel rutrum risus tincidunt ullamcorper. Proin eu enim metus. Vivamus sed libero ornare, tristique quam in, gravida enim. Nullam ut molestie arcu, at hendrerit elit.</li>
  </ol>
  <br>
  <h5>Subheading 4 looks like this</h5>
  <p class="paragraph--md">Pellentesque suscipit fringilla libero eu ullamcorper. Cras risus eros, faucibus sit amet augue id, tempus pellentesque eros. <a href="#">In imperdiet tristique tincidunt</a>. Integer lobortis lorem lorem, id accumsan arcu tempor id. Suspendisse vitae accumsan massa.</p>
</div><!--end .text-->
