{#
/**
 * Available variables:
 * - resource__title: Featured resource title.
 * - resource__description: Featured resource description.
 * - resource__link: Featured resource custom link
 */
#}

{% set featured_resources_list__base_class = 'featured-resources-list' %}
{% set featured_resources_list__modifiers = featured_resources_list__modifiers|default(['tertiary']) %}

<div {{ bem(featured_resources_list__base_class, featured_resources_list__modifiers) }} {{ attributes }}>
  <div {{ bem('items', [], featured_resources_list__base_class) }} {{ attributes }}>
    {% block resources %}
      {% for resource in resources %}
        {% include "@molecules/featured-resource/tertiary/featured-resource-tertiary.twig" with resource %}
      {% endfor %}
    {% endblock %}
  </div>
</div>
