.cl-scale {
  padding: space(1);

  &__scale {
    margin-top: space(3);
  }
}

h2.cl-scale {
  @extend .paragraph--2xl;

  margin: space(2) space(1);
  padding: 0 0 space(1);
  position: relative;

  &::before {
    content: '';
    left: 0;
    bottom: 0;
    width: px2rem(72);
    height: px2rem(2);
    position: absolute;
    background-color: var(--c-primary-800);
  }
}

.cl-scale__scales {
  padding: 0 space(1);

  li::before {
    display: none;
  }
}

.cl-scale__rows {
  display: flex;
}

.cl-scale__row {
  flex: 1;
}

.cl-scale__items {
  padding: space(1);
}

.cl-scale__item {
  margin-bottom: space(2.5);
}

.cl-scale__details {
  display: flex;

  span {
    @extend .paragraph--sm;

    padding: 0 space(1);
    font-weight: $font-normal;
    border-right: 1px solid var(--c-grayscale-200);

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border-width: 0;
    }
  }
}
