.pager {
  margin: space(3.5) 0 0;

  .pager__items {
    @include list-reset;

    display: flex;
    justify-content: flex-start;
    text-align: center;
  }

  .pager__item {
    @extend .paragraph--lg;

    width: px2rem(48);
    height: px2rem(48);
  }

  .pager__link,
  .pager__link:link,
  .pager__link:visited {
    color: clr(primary-dark, 1000);
    font-weight: 600;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: fontsize(16);
    line-height: fontsize(24);
    border: 1px solid clr(grayscale, 100);

    &.is-active {
      color: clr(grayscale, 0);
      background-color: clr(primary-dark, 1000);
      border: 1px solid clr(primary-dark, 1000);
      margin-left: -1px;
      width: auto;
      pointer-events: none;
      cursor: default;

      &:hover {
        color: clr(grayscale, 0);
        background-color: clr(primary-dark, 1000);
        border: 1px solid clr(primary-dark, 1000);
      }
    }

    &:hover {
      color: clr(grayscale, 0);
      background-color: clr(primary, 800);
      border: 1px solid clr(primary, 800);
      margin-left: -1px;
      width: auto;
    }

    &:focus {
      border: transparent;
      outline: 4px solid clr(secondary,700);
      outline-offset: -4px;
    }
  }

  .pager__link:not(.pager__link--previous) {
    border-left: none;
  }

  span {
    display: none;
  }

  .pager__item--previous .icon {
    transform: rotate(180deg);
  }

  .pager__item--disable .icon {
    color: clr(grayscale, 100);
  }

  .icon {
    width: px2rem(10.75);
    height: px2rem(10.79);
  }

  .pager__item--previous-ellipses,
  .pager__item--next-ellipses,
  .pager__item--disable {
    border: 1px solid clr(grayscale, 100);
  }

  .pager__item--previous-ellipses,
  .pager__item--next-ellipses {
    border-left: none;
  }
}
