.header-search {
  display: block;
  position: relative;
  background-color: clr(grayscale, 0);

  @include large {
    background: none;
    border-left: 1px solid clr(primary-dark, 200);
    grid-column: 3 / 4;
  }

  .input_wrapper {
    @include border-bottom($clr: clr(primary-dark, 300), $focusClr: clr(grayscale, 1000));

    height: 100%;
  }

  .button_wrapper {
    border: none;
    display: block;
    min-height: auto;
    position: initial;

    &::before {
      display: none;
    }

    input {
      width: auto;
    }
  }

  input[type="submit"] {
    position: absolute;
    display: initial;
    top: 0;
    right: 0;
    height: 100%;
    border: none;
    text-indent: -999px;
    white-space: nowrap;
    // @to do Research how to use images as backgrounds.
    background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.4887 5.68826C18.1951 8.39461 18.1951 12.7825 15.4887 15.4888C12.7824 18.1951 8.39455 18.1951 5.6882 15.4888C2.98186 12.7825 2.98186 8.39461 5.6882 5.68827C8.39455 2.98192 12.7824 2.98192 15.4887 5.68826ZM17.1256 15.9122C19.8288 12.6011 19.6367 7.71491 16.5494 4.6276C13.2573 1.33548 7.91967 1.33548 4.62754 4.62761C1.33541 7.91973 1.33542 13.2573 4.62754 16.5495C7.76695 19.6889 12.7665 19.8345 16.0784 16.9864L21.7591 22.667L22.8197 21.6063L17.1256 15.9122Z' fill='currentColor'/%3E%3C/svg%3E%0A") no-repeat center center;

    &:hover {
      border: none;
      background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.4887 5.68826C18.1951 8.39461 18.1951 12.7825 15.4887 15.4888C12.7824 18.1951 8.39455 18.1951 5.6882 15.4888C2.98186 12.7825 2.98186 8.39461 5.6882 5.68827C8.39455 2.98192 12.7824 2.98192 15.4887 5.68826ZM17.1256 15.9122C19.8288 12.6011 19.6367 7.71491 16.5494 4.6276C13.2573 1.33548 7.91967 1.33548 4.62754 4.62761C1.33541 7.91973 1.33542 13.2573 4.62754 16.5495C7.76695 19.6889 12.7665 19.8345 16.0784 16.9864L21.7591 22.667L22.8197 21.6063L17.1256 15.9122Z' fill='currentColor'/%3E%3C/svg%3E%0A") no-repeat center center;
    }

    &:focus {
      border: transparent;
      outline-offset: -4px;
      outline: 4px solid clr(secondary, 700);
    }
  }

  .button__icon {
    display: none;
  }
}

.form-search,
.header-search__input {
  width: 100%;
  height: 3.95rem;
  border: 0;
  letter-spacing: 0.02em;
  font-size: fontsize(16);
  color:clr(grayscale, 1000);
  padding: px2rem(22) space(1.5);

  @include small {
    padding: space(1.5);
    height: 4.95rem;
  }

  @include medium {
    padding: px2rem(28) space(2);
  }

  &::placeholder {
    color: clr(primary-dark, 600);
  }

  &:hover,
  &:focus {
    outline: none;
    background-color: clr(primary-dark, 50);
  }

  &::-webkit-search-cancel-button {
    margin-right: space(2);
    padding: space(1);
    -webkit-appearance: none;
    height: 1rem;
    width: 1rem;
    background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2983_200854)'%3E%3Cpath d='M8 16C12.4062 16 16 12.4375 16 8C16 3.59375 12.4062 0 8 0C3.5625 0 0 3.59375 0 8C0 12.4375 3.5625 16 8 16ZM5.46875 5.46875C5.75 5.1875 6.21875 5.1875 6.5 5.46875L7.96875 6.9375L9.4375 5.46875C9.75 5.1875 10.2188 5.1875 10.5 5.46875C10.8125 5.78125 10.8125 6.25 10.5 6.53125L9.03125 8L10.5 9.46875C10.8125 9.78125 10.8125 10.25 10.5 10.5312C10.2188 10.8438 9.75 10.8438 9.4375 10.5312L7.96875 9.0625L6.5 10.5312C6.21875 10.8438 5.75 10.8438 5.46875 10.5312C5.15625 10.25 5.15625 9.78125 5.46875 9.46875L6.9375 8L5.46875 6.53125C5.15625 6.25 5.15625 5.78125 5.46875 5.46875Z' fill='%23869EAE'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2983_200854'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") no-repeat center center;
    background-size: space(1);
    cursor: pointer;
    z-index: 10;
    position: relative;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}
