{% set header_search__base_class = 'header-search' %}

<div {{ bem(header_search__base_class) }}>
  <form {{ bem('form', [], header_search__base_class) }}>
    <label {{ bem('visually-hidden') }}>Search</label>
    <input
      {{ bem('input', [], header_search__base_class, ['form-search']) }}
      type="search"
      placeholder="Search bizness.com"
    />
  </form>
</div>
