.node-topic {
  > .section__wrapper > .section {
    @include large {
      border-top: 1px solid clr(primary-dark, 200);
    }
  }

  .resource-node-hero .section {
    @include macro-spacing-block;
    @include macro-spacing-inline;

    padding-bottom: 0;

    @include large {
      padding-right: 0;
      padding-bottom: space(5.5);
    }

    @include xl {
      padding-bottom: space(6.5);
    }
  }

  .results-teaser:first-child {
    margin-top: 0;
  }

  .node-topic__content{
    @include large {
      padding: 0 space(3);
    }
    @include xl {
      padding: 0 space(4.5);
    }
  }
}
