.list-section {
  @extend .section;

  .link-list-primary__item {
    &::before {
      display: none;
    }

    .link {
      @include multiline-underline-animation($color: clr(grayscale, 900), $size: px2rem(3));
      
      position: relative;
      line-height: px2rem(25);
    }

    .link__content {
      font-weight: $font-medium;
    }
  }
}

.list-section__heading {
  grid-column: 1 / -1;

  @include large {
    grid-column: 2 / 5;
  }

  .label,
  .heading {
    margin: 0 0 space(1.5);

    @include small {
      margin: 0 0 space(2);
    }
  }

  .heading::before {
    margin-bottom: space(2);

    @include xl {
      margin: 0 0 space(2.5);
    }
  }

  .label::before {
    margin-bottom: space(1.5);

    @include xl {
      margin: 0 0 space(2);
    }
  }

  .paragraph {
    margin-bottom: space(2);
  }

  .link {
    margin-bottom: space(1.5);
  }
}

.list-section__content {
  grid-column: 1 / -1;

  @include large {
    grid-column: 2 / -2;
  }

  &--has-heading {
    @include large {
      grid-column: 6 / 14;
    }
  }
}

.list-section--dark {
  p,
  span,
  .label,
  .heading {
    color: clr(grayscale, 0);
  }

  [class$="__header-wrapper"] {
    .label {
      color: clr(primary, 800);
    }

    div {
      background-color: clr(grayscale, 400, .3);
    }
  }

  .link {
    @extend .link--dark;
  }

  .icon {
    color: clr(grayscale, 0);
  }
}

// Column count.
.list-section--onecol {
  .link-list-primary__item {
    padding: space(2) 0 space(1);
    border-bottom: 1px solid clr(primary-dark, 200);
  }
}

.list-section--twocol {
  ul {
    column-gap: space(1.5);

    @include small {
      column-gap: space(3);
    }

    @include medium {
      columns: 2;
    }

    @include large {
      column-gap: space(4);
    }
  }

  li {
    margin-bottom: space(1.5);
    break-inside: avoid;
  }

  .link-list-primary__item {
    margin-bottom: 0;
    border-bottom: none;
    padding: 0 0 space(1.5);
  }
}

.list-section--threecol {
  @extend .list-section--twocol;

  ul {
    @include large {
      columns: 3;
    }
  }
}

// Layout inherited style.
.layout--dark {
  .list-section {
    @extend .list-section--dark;
  }
}
