{#
/**
 * Displays list_section list.
 *
 * Available variables:
 * - list_section__title: Component title (optional).
 * - list_section__description: Component description (optional).
 * - list_section__link: Component link (optional).
 * - list_section__modifiers: Component modifiers, including:
 *    twocol: Displays the content in two columns,
 *    onecol: Displays the content in one column (default),
 *    dark: Add light color to fonts when the background is "dark",
 *    light: Add dark color to fonts when the background is "light" (default),
 * - list_section__has_link: Indicates when to display the link (optional).
 * - list_section__has_heading: Indicates when to display the header (optional).
 * - list_section__heading_size: Component header size ['heading', 'label']
 */
#}

{% set content_modifiers = [] %}
{% set list_section__base_class = "list-section" %}
{% set list_section__modifiers = list_section__modifiers|default([]) %}

{% if list_section__has_heading %}
  {% set content_modifiers = content_modifiers|merge(["has-heading"]) %}
{% endif %}

<div {{ bem(list_section__base_class, list_section__modifiers) }}>
  {% if list_section__has_heading %}
    <div {{ bem("heading", [], list_section__base_class) }}>
      {% if list_section__title %}
        {% include "@atoms/text/headings/_heading.twig" with {
          heading_level: 2,
          heading: list_section__title,
          heading_modifiers: ["lg", "decorated"],
          heading_base_class: list_section__heading_size|default('heading'),
        } %}
      {% endif %}
      {% if list_section__description %}
        {% include "@atoms/text/text/01-paragraph.twig" with {
          paragraph_modifiers: ["md"],
          "paragraph_content": list_section__description,
        } %}
      {% endif %}
      {% if list_section__has_link %}
        {% include "@atoms/links/link/link.twig" with {
          link_url: list_section__link.url,
          link_content: list_section__link.text,
        } %}
      {% endif %}
    </div>
  {% endif %}
  <div {{ bem("content", content_modifiers, list_section__base_class) }}>
    {% block list_content %}
      {% include "@templates/placeholder/place-holder.twig" with {
        place_holder: "List content",
      } %}
    {% endblock %}
  </div>
</div>
