{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{% set content = content[0]|default(content) %}



<div{{attributes}}>
  {{ title_suffix }}
  {# This is needed to display the block contextual menu #}
  <div{{attributes.addClass(classes)}}>
    {% include "@molecules/vertical-list/vertical-list.twig" with {
      vertical_list__heading: 'We’ve partnered successfully with organizations like yours.',
      vertical_list__heading_size: 'xl',
      vertical_list__modifiers: ['dark'],
      vertical_list__link: {url: '/our-work', text: 'See Our Work'},
      vertical_list__list: [
        {
          list_item__text: 'Technology',
          list_item__icon: 'web',
        },
        {
          list_item__text: 'Media & Publishing',
          list_item__icon: 'video',
        },
        {
          list_item__text: 'Government',
          list_item__icon: 'gov',
        },
        {
          list_item__text: 'Higher Education',
          list_item__icon: 'book',
        },
        {
          list_item__text: 'Financial Services',
          list_item__icon: 'chart',
        }
      ]
    }%}
  </div>
</div>
