{#
/**
 * Available variables:
 * - case_study__title: Client name.
 * - case_study__content: Case study subtitle or intro text.
 * - case_study__image: Creation date, including:
 *   - src: Image sources.
 *   - alt: Image Alt Text.
 * - case_study__url: Case study URL.
 */
#}

{% set case_study__base_class = 'case-study-teaser' %}
{% set link_blockname = case_study__base_class %}
{% set link_url = case_study__url %}

{% extends "@atoms/links/link/link.twig" %}
  {% block link_content %}
    <div {{ bem(case_study__base_class) }}>
      <div {{ bem('content', [], case_study__base_class) }}>
        {% if case_study__title %}
          {% include "@atoms/text/headings/_heading.twig" with {
            heading_level: 2,
            heading: case_study__title,
            heading_modifiers: ["xl"],
          } %}
        {% endif %}
        {% if case_study__content %}
          {% include "@atoms/text/text/01-paragraph.twig" with {
            paragraph_modifiers: ["lg"],
            paragraph_content: case_study__content,
          } %}
        {% endif %}
      </div>
      <div {{ bem('brand', [], case_study__base_class) }}>
        {% block image_content %}
          {% include "@atoms/images/image/image.twig" with {
            image_src: case_study__image.src,
            image_alt: case_study__image.alt,
          } %}
        {% endblock %}
      </div>
    </div>
  {% endblock %}
