.node-show {
  > .section__wrapper > .section {
    @include large {
      border-top: 1px solid clr(primary-dark, 200);
    }
  }

  .resource-node-hero--podcast .section {
    padding-bottom: 0;

    @include large {
      padding-bottom: space(4.5);
    }

    @include xl {
      padding-bottom: space(6.5);
    }
  }

  .results-teaser:first-child {
    margin-top: 0;
  }
}
