@keyframes pulse-ring {
  0% {
    transform: scale(0.33);
  }

  80%,
  100% {
    opacity: 0;
  }
}

@keyframes pulse-dot {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.8);
  }
}

.header {
  .menu-block.contextual-region {
    position: unset;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    position: relative;

    @include large {
      display: grid;
      grid-template-columns: space(4.5) minmax(px2rem(450), 46%) minmax(px2rem(200), 50%) px2rem(75) px2rem(75);
      box-shadow: 0 -1px 0 0 var(--c-primary-dark-300) inset,
      0 0 64px rgb(0 0 0 / 5%);
    }
  }

  &__menu {
    order: 3;

    @include large {
      display: flex;
      order: 2;
    }

    @include large {
      grid-column: 2 / 3;
      padding-left: space(1);
    }

    @include xl {
      padding-left: space(1.5);
    }
  }

  .search-block-form,
  .header-search {
    order: 2;
    width: 100%;

    @include large {
      order: 3;
      border-bottom: none;
    }
  }

  &__branding {
    order: 1;
  }

  .button--contact {
    color: clr(grayscale, 0);
    display: flex;
    justify-content: center;
    margin-top: px2rem(30);
    height: 56px;

    @include large {
      order: 4;
      display: block;
      background-color: clr(grayscale, 1000);
      color: clr(grayscale, 0);
      border: none;
      padding: space(2) space(2.5);
      height: initial;
      margin-top: 0;

      &:hover {
        background-color: clr(primary, 800);
      }
    }

    @include large {
      grid-column: 4 / 7;
    }
  }
}

html:not(.js) .hero__animation-toggle {
  display: none;
}

.hero__animation-toggle {
  margin-bottom: 24px;

  @include medium {
    margin-bottom: 0;
    grid-column: 1/-1;
  }

  @include large {
    grid-column: 2/-2;
    grid-row: 1;
    justify-self: end;
  }

  .intro-hero-primary & {
    @include medium {
      position: absolute;
      top: 4.5rem;
      right: 0;
    }

    @include large {
      position: static;
      margin-top: 24px;
    }

    @include xxxl {
      margin-top: 44px;
    }
  }

  .intro-hero-tertiary & {
    @include medium {
      position: absolute;
      right: 0;
      top: 2rem;
    }

    @include large {
      top: -44px;
    }

    @include xl {
      top: -52px;
    }
  }

  label {
    line-height: 1.2;
    display: flex;
    align-items: center;
    color: clr(grayscale, 500);
    text-transform: uppercase;
    border-radius: 24px;
    font-weight: 500;
    letter-spacing: 0.1em;
    font-size: 12px;

    &:hover {
      cursor: pointer;
    }

    .layout--dark & {
      color: clr(grayscale, 400);
    }

    & > span:first-child {
      margin-left: 6px;
    }
  }

  .slider {
    cursor: pointer;
    background-color: clr(grayscale, 50);
    border-radius: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 12px;
    text-align: right;
    width: 60px;

    .layout--light & {
      background-color: clr(grayscale, 0);
    }

    .layout--dark & {
      background-color: clr(grayscale, 600);
    }

    span {
      font-size: 12px;
      line-height: 1.4;
      padding: 0 8px;
      margin-left: 20px;
      color: clr(grayscale, 600);

      .layout--dark & {
        color: clr(grayscale, 0);
      }
    }

    &::before {
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      bottom: 4px;
      transition: all .4s ease;
      border-radius: 50%;
      background-color: clr(primary, 800);
      right: calc(100% - 20px);
    }
  }

  input {
    &:checked + label .slider {
      text-align: left;

      span {
        margin-left: 0;
        margin-right: 20px;
      }

      &::before {
        right: 4px;
        background-color: clr(grayscale, 1000);
      }
    }

    &:checked:focus + label {

      .slider {
        outline: 1.5px solid clr(secondary, 800);
        background-color: clr(primary-dark, 200);
      }
    }

    &:hover {
      cursor: pointer;

      & + label .slider {
        outline: 1.5px solid clr(primary-dark, 1000);

        .layout--dark & {
          outline-color: clr(grayscale, 600);
        }
      }
    }

    &:hover,
    &:focus {

      & + label .slider::before {
        background-color: clr(secondary, 800);

      }
    }

    &:focus + label .slider {
      outline: 1.5px solid clr(secondary, 800);
      background-color: clr(primary-dark, 200);

      .layout--dark & {
        background-color: clr(grayscale, 600);
        outline-color: clr(grayscale, 600);
      }
    }
  }
}
