{% set accordion_list__base_class = 'accordion-list' %}

<div {{ bem(accordion_list__base_class) }}>
  <ul {{ bem('items', [], accordion_list__base_class) }}>
    {% block list_content %}
      {% for item in accordion_list__items %}
        {% include "@molecules/accordion-list/accordion-item.twig" with item %}
      {% endfor %}
    {% endblock %}
  </ul>
</div>
