.fancy-list {
  .label {
    margin: 0 space(1) 0 0;
    color: clr(primary, 900);
  }
}

ul.fancy-list__items--checkmarks:not(.toolbar-menu):not(.stats-list__items) {
  li {
    display: flex;

    &::before {
      content: "";
      position: initial;
      min-width: 18px;
      width: 18px;
      height: 18px;
      align-self: flex-start;
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.7656 0.210938C14.0781 0.523438 14.0781 0.992188 13.7656 1.27344L5.51562 9.52344C5.23438 9.83594 4.76562 9.83594 4.48438 9.52344L0.234375 5.27344C-0.078125 4.99219 -0.078125 4.52344 0.234375 4.21094C0.515625 3.92969 0.984375 3.92969 1.26562 4.21094L5.01562 7.96094L12.7344 0.210938C13.0156 -0.0703125 13.4844 -0.0703125 13.7656 0.210938Z' fill='%23CF1900'/%3E%3C/svg%3E%0A");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      margin-top: 8px;
    }
  }
}

ul.fancy-list__items--numbered:not(.toolbar-menu):not(.stats-list__items) {
  list-style: decimal-leading-zero;
  list-style-position: inside;

  li {
    &::before {
      content: none;
    }

    &::marker {
      color: clr(primary, 900);
      align-self: center;
    }

    .info {
      display: inline;
      margin: 0 0 0 space(0.5);
    }
  }
}

.fancy-list__header-wrapper {
  display: flex;
  align-items: center;
  padding: 0 0 space(2.5);
}

.fancy-list__line {
  flex: 1;
  height: 0.5rem;
  background-color: clr(grayscale, 100, .3);
}

.fancy-list__items {
  margin: 0;
}

.fancy-list__item {
  margin-bottom: space(2);

  .info {
    display: inline-block;
    margin: 0 0 0 space(1.5);
    font-weight: $font-medium;
  }
}
