.node-bio {
  .section__wrapper > .section:first-of-type {
    @include macro-spacing-block(true, true, false);
  }

  .section__content {
    margin-bottom: space(3);

    @include large {
      margin-bottom: 0;
    }
  }

  .vertical-list__list-wrapper:not(:last-child) {
    margin-bottom: space(4);

    @include large {
      margin-bottom: space(6.5);
    }
  }
}
