// Mixin to create gradients
@mixin gradient($color, $from, $to: $from, $angle: 225deg) {
  $alpha: if($from == $to, 0.8, 1);

  background: linear-gradient(
    $angle,
    clr($color, $from, $alpha),
    clr($color, $to)
  );
}

.cl-gradients {
  padding: 1rem;

  li::before {
    display: none;
  }

  h1 {
    @extend .paragraph--2xl;

    padding-bottom: space(1);
    margin-bottom: space(3);
    position: relative;

    &::before {
      content: '';
      bottom: 0;
      left: space(1);
      width: px2rem(72);
      height: px2rem(2);
      position: absolute;
      background-color: clr(primary, 800);
    }
  }

  h2 {
    @extend .paragraph--xl;

    font-weight: $font-heavy;
    padding: 0 space(1);
  }
}

.cl-gradients__items {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 2rem;
}

.cl-gradients__item {
  display: flex;
  padding: 1rem;
  max-width: 13rem;
  list-style: none;
  flex-direction: column;
  cursor: pointer;

  &:hover {
    background-color: clr(grayscale, 50);
  }
}

.cl-gradients__title {
  @extend .paragraph--md;

  margin: space(1) 0;
  font-weight: $font-heavy;

  & ~ span {
    @extend .paragraph--sm;
  }
}

.cl-gradients__swatch {
  z-index: 2;
  width: 11rem;
  height: 6rem;
}

.cl-gradients__item--translucent {
  position: relative;

  &::after {
    content: '';
    top: 1rem;
    z-index: 1;
    display: block;
    position: absolute;
    border-right: solid 11rem transparent;
    border-top: solid 6rem clr(grayscale, 1000, 0.5);
  }
}

// Style default color swatches
@each $name, $color in $color-palette {
  @if type-of($color) == map {
    @each $variant, $value in $color {
      .cl-gradients__item--#{'' + $name}-#{$variant} {
        .cl-gradients__swatch {
          @include gradient($name, $variant);
        }
      }
    }
  }
}
