<div class="main__content">
  <form class="bg-black">
    <div class="form-item">
      <h2 class="u-heading-l">Get access to the Ebook</h2>
      <h3 class="u-heading-s">After submitting this form you will be redirected to the PDF. You will also receive an email with a link to download the file.</h3>
    </div>
    <div class="form-item">
      <label class="form-item__label form-required">First name</label>
      <div class="input_wrapper">
        <input type="text" placeholder="Enter yout first name" id="edit-name" name="name" size="60" maxlength="255" class="form-item__textfield" required="required" aria-required="true">
      </div>
    </div>
    <div class="form-item">
      <label class="form-item__label form-required">Last name</label>
      <div class="input_wrapper">
        <input type="text" id="edit-last-name" name="last_name" size="60" maxlength="255" class="form-item__textfield" required="required" aria-required="true">
      </div>
    </div>
    <div class="form-item">
      <label class="form-item__label form-required">Email</label>
      <div class="input_wrapper">
        <input type="email" id="edit-email" name="email" size="60" maxlength="254" class="form-item__textfield" required="required" aria-required="true">
      </div>
    </div>
    <div class="form-item">
      <label class="form-item__label form-required">Organization</label>
      <div class="input_wrapper">
        <input type="text" id="edit-subject" name="subject" size="60" maxlength="255" class="form-item__textfield" required="required" aria-required="true">
      </div>
    </div>
    <div class="form-item">
      <label class="form-item__label">Job title</label>
      <div class="input_wrapper">
        <input type="text" id="edit-job-title" name="job_title" size="60" maxlength="255" class="form-item__textfield">
      </div>
    </div>
    <div class="form-actions">
      <button class="button button--primary">Submit</button>
    </div>
    <div class="form-item">
      <br>
      <p>bizness will use the information you provide on this form to be in touch with you and to provide updates and marketing. You can change your mind at any time by clicking the unsubscribe link in the footer of any email you receive from us, or by contacting us at hello@bizness.com. We will treat your information with respect. For more information about our privacy practices please <a href="/privacy-policy">click here</a>.</p><p> By clicking Submit, you agree that we may transfer your information to MailChimp for processing, in accordance with these terms.</p>
    </div>
  </form>

  <form class="bg-white">
    <div id="edit-markup" class="js-form-item form-item">
      <h2 class="u-heading-l">Get in touch with us</h2>
      <h3 class="u-heading-s">Have a question? Want to talk with us about a potential project? Drop us a line. We’d love to hear from you.</h3>
    </div>
    <div class="js-form-item form-item">
      <label for="edit-name" class="form-item__label form-required">Field Title</label>
      <div class="input_wrapper">
        <input placeholder="Placeholder text" type="text" id="edit-name" name="name" size="60" maxlength="255" class="form-item__textfield" required="required" aria-required="true">
      </div>
    </div>
    <div class="js-form-item form-item">
      <label for="edit-email" class="form-item__label form-required">Email Address</label>
      <div class="input_wrapper">
        <input placeholder="suchandsuch@soandso.whatever" type="email" id="edit-email" name="email" size="60" maxlength="254" class="form-email required form-item__textfield" required="required" aria-required="true">
      </div>
    </div>
    <div class="js-form-item form-item">
      <label for="edit-subject" class="form-item__label form-required">Your Organization</label>
      <div class="input_wrapper">
        <input placeholder="ACME Robot Parts" type="text" id="edit-subject" name="subject" size="60" maxlength="255" class="form-item__textfield" required="required" aria-required="true">
      </div>
    </div>
    <div class="js-form-item form-item">
      <label for="edit-how-you-heard-about-us" class="form-item__label">How you heard about us</label>
      <div class="input_wrapper">
        <input type="text" id="edit-how-you-heard-about-us" name="how_you_heard_about_us" size="60" maxlength="255" class="form-item__textfield">
      </div>
    </div>
    <div class="js-form-item form-item">
      <label for="edit-message" class="form-item__label">Your Message</label>
      <div class="input_wrapper">
        <textarea placeholder="ACME Robot Parts" id="edit-message" name="message" rows="5" cols="60" class="form-item__textfield form-item__textarea"></textarea>
      </div>
    </div>
    <div class="form-actions">
      <button class="button button--primary">Send your message</button>
    </div>
  </form>
</div>
