table {
  border: none;
  max-width: 100%;
  overflow-x: auto;
  border-spacing: 0;
  padding: space(1.5) 0 space(3);
}

thead {
  th {
    border: none;
    text-align: start;
    padding-bottom: space(1);
    border-bottom: 1px solid clr(grayscale, 300);
  }
}

tbody {
  td {
    border: none;
    padding-top: space(1);
    font-size: fontsize(14);
    padding-bottom: space(1);
    color: clr(grayscale, 500);
    border-bottom: 1px solid clr(grayscale, 100);
  }
}

/* TODO: BEM selectors should be applied to wysiwyg-created content */
.text-long {
  table {
    padding: 0;
    display: inline-table;
    margin: space(1.5) 0 space(3);
  }
}
