{#
/**
 * Available variables:
 * - button_content - the content of the button (typically text)
 *
 * Available blocks:
 * - button_content - used to replace the content of the button with something other than text
 *   for example: to insert an icon
 */
#}

{% set button_modifiers = button_modifiers|default([]) %}
{% set button_base_class = button_base_class|default('button') %}
{% set button_element = button_type == 'link' ? 'a' : 'button' %}

{% set additional_attributes = {
  class: bem(button_base_class, button_modifiers, button_blockname),
} %}

{% if button_url %}
  {% set additional_attributes = additional_attributes|merge({
    'role': 'link',
    'href': button_url,
  }) %}

  {% if button_url|split('.')|last in ['mp3', 'pdf'] %}
    {% set additional_attributes = additional_attributes|merge({
      'download': button_url|split('/')|last,
    }) %}
  {% endif %}

  {% if button_url starts with 'http' %}
    {% set additional_attributes = additional_attributes|merge({
      'target': '_blank',
    }) %}
  {% endif %}
{% endif %}

{% if button_icon == 'arrow' %}
  {% set button_modifiers = button_modifiers|merge(['animated']) %}
{% endif %}

<{{button_element}} {{ add_attributes(additional_attributes) }}>
  {% block button_content %}
    <span>{{ button_content }}</span>
  {% endblock %}
  {% if button_icon %}
    {% include "@atoms/images/icons/_icon.twig" with {
      icon_name: button_icon,
      icon_base_class: 'icon',
      icon_modifiers: button_modifiers,
      icon_blockname: button_base_class,
    } %}
  {% endif %}
</{{button_element}}>
