.node-article {
  .hero-article + .section {
    @include macro-spacing-block(false, true, false);

    padding-top: 0;
  }

  &__authors {
    margin-top: auto;
  }

  .node-article__sidebar {
    @extend .section__sidebar;

    @include xxxl {
      width: 100%;
    }
  }

  .text-long {
    @include xl {
      padding: 0 space(2.5);
    }
  }

  .section__sidebar {
    &[data-align="fixed"] {
      .node-article__sidebar {
        @include large {
          position: fixed;
          top: space(4.5);
        }
      }
    }

    &[data-align="bottom"] {
      .node-article__sidebar {
        @include large {
          margin-top: auto;
        }
      }

      .node-article__authors {
        @include large {
          margin-top: initial;
        }
      }
    }
  }
}
