// Bottom actions.
.layout-builder-form {
  .form-actions {
    bottom: 0;
    width: 100vw;
    gap: space(1);
    position: fixed;
    flex-wrap: wrap;
    align-items: center;
    display: inline-flex;
    padding: space(1) space(2);
    background-color: clr(grayscale, 1000);
    z-index: 500;

    .js-show {
      cursor: pointer;
      position: relative;
      display: inline-flex;
    }

    .form-item {
      margin-bottom: 0;
    }

    .form-checkbox {
      cursor: pointer;

      &::before {
        content: '';
        width: space(1.5);
        height: space(1.5);
        position: absolute;
        background-color: clr(grayscale, 50);
        transition: background-color 0.5s ease;
        border: 1.5px solid clr(grayscale, 200);
      }

      &:checked::before {
        background-position: center;
        background-repeat: no-repeat;
        background-color: clr(primary, 900);
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0625 0.414062C11.2969 0.648438 11.2969 1 11.0625 1.21094L4.875 7.39844C4.66406 7.63281 4.3125 7.63281 4.10156 7.39844L0.914062 4.21094C0.679688 4 0.679688 3.64844 0.914062 3.41406C1.125 3.20312 1.47656 3.20312 1.6875 3.41406L4.5 6.22656L10.2891 0.414062C10.5 0.203125 10.8516 0.203125 11.0625 0.414062Z' fill='white'/%3E%3C/svg%3E%0A");
      }
    }

    .form-item__label {
      @extend .info--md;

      cursor: pointer;
      margin-bottom: 0;
      margin-left: space(2.5);
      color: clr(grayscale, 0);
    }

    .input_wrapper.checkbox {
      border: none;
      position: absolute;

      &::after {
        display: none;
      }
    }
  }

  .button__icon {
    display: none;
  }

  input.form-submit {
    color: clr(grayscale, 0);
    padding: space(1) space(2);
  }
}

.chosen-container {
  .chosen-drop {
    border: none;
    color: clr(grayscale, 0);
    background-color: clr(grayscale, 500);

    .chosen-results {
      .active-result {
        @extend .label--lg;

        padding: space(0.5) space(1);

        em {
          color: clr(primary, 800) !important;
        }
      }
    }
  }

  .chosen-choices {
    .search-choice {
      border: none !important;
    }

    .search-field {
      input {
        width: 100%;
      }
    }
  }
}

.layout-builder {
  border: none;
  padding-top: 0;
  padding-bottom: 0;
}

.layout-builder__add-block,
.layout-builder__add-section {
    outline: none;
    border-radius: 4px;
    margin: space(1) 0 space(3);
    background-color: clr(grayscale, 0);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05), 0 0 64px rgba(0, 0, 0, 0.2);
}

.layout-builder__link {
  @extend .link--inline;

  padding: 0;
}

.layout-builder__link--remove {
  background-size: 24px 24px;
  background-position: center;
  background-repeat: no-repeat;
  border-color: clr(primary, 800);
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='53.7' height='53.7' viewBox='0 0 53.7 53.7'><path fill='%23cf1900' stroke='%23cf1900' stroke-width='2' d='M35.6 34.4L28 26.8l7.6-7.6c.2-.2.2-.5 0-.7l-.5-.5c-.2-.2-.5-.2-.7 0l-7.6 7.6-7.5-7.6c-.2-.2-.5-.2-.7 0l-.6.6c-.2.2-.2.5 0 .7l7.6 7.6-7.6 7.5c-.2.2-.2.5 0 .7l.5.5c.2.2.5.2.7 0l7.6-7.6 7.6 7.6c.2.2.5.2.7 0l.5-.5c.2-.2.2-.5 0-.7z'/></svg>");

  &:focus,
  &:hover {
    background-size: 24px 24px;
    background-position: center;
    background-color: clr(primary, 800);
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='53.7' height='53.7' viewBox='0 0 53.7 53.7'><path fill='%23ffffff' stroke='%23ffffff' stroke-width='2' d='M35.6 34.4L28 26.8l7.6-7.6c.2-.2.2-.5 0-.7l-.5-.5c-.2-.2-.5-.2-.7 0l-7.6 7.6-7.5-7.6c-.2-.2-.5-.2-.7 0l-.6.6c-.2.2-.2.5 0 .7l7.6 7.6-7.6 7.5c-.2.2-.2.5 0 .7l.5.5c.2.2.5.2.7 0l7.6-7.6 7.6 7.6c.2.2.5.2.7 0l.5-.5c.2-.2.2-.5 0-.7z'/></svg>");
  }
}

.vertical-tabs {
  margin: 0;
  width: 100vw;
  border: none;
  padding: space(3) space(1.5) 0;

  .vertical-tabs__menu {
    margin: 0;
    padding: 0;
    border: none;
  }

  li{
    border: none;
    background-color: transparent;

    &::before {
      display: none;
    }
  }

  a {
    padding: 0;
    border: none;
    width: max-content;
    outline: none !important;
    text-decoration: none !important;
  }

  strong {
    @extend .button;

    text-decoration: none !important;

  }

  span {
    @extend .paragraph--sm;

    margin-top: space(1);
    color: clr(grayscale, 500);
  }
}

.layout-builder__region,
.layout-builder__layout.is-layout-builder-highlighted,
.layout-builder__add-section.is-layout-builder-highlighted {
  border: none;
  outline: none;
}

.layout-builder__add-block.is-layout-builder-highlighted {
  margin-top: space(1);
  border: 1px solid clr(primary, 800);
}

.builder__link--configure {
  margin-bottom: space(1.5);
}

.layout-builder__link--configure {
  @extend .link--inline;
}

.contextual-links {
  li {
    &::before {
      display: none;
    }
  }
}

// Block sections.
.layout-builder-block {
  background-color: transparent;
}

// Sidebar.
.ui-dialog.ui-dialog-off-canvas {
  .ui-dialog-titlebar {
    border: none;
    background-color: clr(grayscale, 900);

    .ui-dialog-title {
      @extend .paragraph--md;

      margin: 0;
      padding-left: 0;
      color: clr(grayscale, 0);

      &::before {
        display: none;
      }
    }
  }
}

#drupal-off-canvas {
  @extend .bg-black;

  // For error at top of LB sidebar if a required field is not entered.
  .layout-builder-add-block {
    div[aria-label=error],
    .error {
      border: 1px solid clr(primary, 800);
      padding: space(0.5);
    }
  }

  background-color: clr(grayscale, 900);

  .form-actions {
    text-align: start;
    margin: space(2) 0 0;
  }

  a.tabledrag-handle .handle {
    height: px2rem(20);
    width: px2rem(20);
  }

  #entity-browser-block-form {
    table {
      display: block;
      margin: space(1.5) 0;
      background-color: transparent !important;

      td {
        width: 100%;
        border: none;
        padding: space(0.5) 0;
        background-color: transparent !important;
      }

      tr.draggable {
        width: 75%;
        display: block;
        padding: space(1);
        margin-bottom: space(1);
        border-radius: px2rem(4);
        border: 1.5px solid clr(grayscale, 600);

        .js-form-item {
          margin-top: 0;
        }
      }
    }
  }

  ul {
    li {
      padding: 0;
      border: none;
    }

    // Autocomplete ul items.
    .ui-menu-item {
      padding: space(0.5) 0;
      line-height: 1.5;
    }
  }

  form,
  strong,
  table * {
    font-family: $font-sans;
  }

  table {
    margin-bottom: space(1.5) !important;
  }

  .layout-builder-components-table {
    margin-bottom: space(2.5);

    table {
      border-spacing: space(1);
      border-collapse: inherit;

      th.table__heading-cell {
        @extend .paragraph--sm;

        padding: space(1) 0;
      }

      .layout-builder-components-table__row {
        margin-top: space(1);
      }

      .layout-builder-components-table__block-label {
        @extend .paragraph--sm;
      }

      .form-item:first-child {
        margin: 0;
      }

      .form-item__dropdown {
        border: none;

        &::after {
          display: none;
        }
      }
    }
  }

  .horizontal-tabs {
    border: none;


    .horizontal-tabs-list {
      @extend .tabs__nav;

      margin-bottom: space(1.5) !important;
    }

    .horizontal-tab-button {
      a {
        @extend .tabs__link;

        color: clr(grayscale, 0) !important;
      }

      &.selected {
        a {
          @extend .is-active;
        }
      }

      strong {
        cursor: pointer;
      }
    }
  }

  .form-item {
    margin-bottom: space(2.5);
    font-weight: $font-normal;

    &:first-child {
      margin-top: space(2);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .form-item__label {
    @extend .paragraph--sm;

    margin-bottom: space(2);

    &.form-required::after {
      content: '*';
      margin-left: space(0.5);
      color: clr(grayscale, 0);
    }
  }

  .form-checkbox {
    cursor: pointer;

    &::before {
      content: '';
      width: space(1.5);
      height: space(1.5);
      position: absolute;
      background-color: clr(grayscale, 50);
      transition: background-color 0.5s ease;
      border: 1.5px solid clr(grayscale, 200);
    }

    &:checked::before {
      background-position: center;
      background-repeat: no-repeat;
      background-color: clr(primary, 900);
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0625 0.414062C11.2969 0.648438 11.2969 1 11.0625 1.21094L4.875 7.39844C4.66406 7.63281 4.3125 7.63281 4.10156 7.39844L0.914062 4.21094C0.679688 4 0.679688 3.64844 0.914062 3.41406C1.125 3.20312 1.47656 3.20312 1.6875 3.41406L4.5 6.22656L10.2891 0.414062C10.5 0.203125 10.8516 0.203125 11.0625 0.414062Z' fill='white'/%3E%3C/svg%3E%0A");
    }
  }

  .input_wrapper.checkbox {
    position: absolute;

    & + .form-item__label {
      @extend .paragraph--sm;

      cursor: pointer;
      margin-bottom: 0;
      line-height: space(2);
      margin-left: space(2.5);
      color: clr(grayscale, 0);
    }
  }

  .form-item__select,
  .form-type--select {
    @extend .info--md;

    width: 100%;
    border: none;
    background: transparent;
    font-weight: $font-normal;
    color: clr(grayscale, 300);
  }

  .form-item__description {
    @extend .paragraph--xs;

    margin-top: space(0.5);
    font-weight: $font-normal;
    color: clr(grayscale, 400);
  }

  .form-item__textfield {
    @extend .info--md;

    font-weight: $font-normal;
    color: clr(grayscale, 300);
    background-color: transparent;
    border-bottom: 1.5px solid clr(grayscale, 400);

    &:focus {
      outline:none;
      box-shadow: none;
      background-color: transparent;
    }
  }

  details {
    background-color: transparent;
  }

  fieldset {
    width: 100%;
  }

  .text-summary-wrapper {
    .form-item__label {
      margin-bottom: space(1.5);
    }
  }

  .entity-type--media {
    img {
      display: block;
      margin-bottom: space(1.5);
    }

    .rendered-entity {
      margin: space(1.5) 0;

      div {
        margin-top: space(1.5);
      }
    }
  }

  .field--type-entity-reference {
    summary {
      margin-top: space(1.5);
      margin-bottom: space(1.5);
    }

    .button_wrapper.submit {
      margin-bottom: space(1);
    }
  }

  .inline-block-list__item,
  .js-layout-builder-block-link {
    display: block;
    position: relative;
    padding: space(1) 0;
    text-decoration: none;
    color: clr(grayscale, 100);
    background-color: transparent;

    &:hover {
      background-color: transparent;
    }
  }

  .layout-selection {
    li {
      a {
        @extend .info--md;

        text-decoration: none;
        color: clr(grayscale, 200);
      }
    }
  }

  .inline-block-list {
    display: block;
    padding: 0 space(1);
  }

  .tabledrag-toggle-weight-wrapper {
    margin-top: 0;

    button {
      margin: 0;
    }
  }

  .layout-builder-remove-block {
    .form-actions {
      text-align: start;
    }

    .dialog-cancel {
      margin-left: space(1);
    }
  }

  .link,
  button.link,
  .dialog-cancel {
    @extend .link--inline;
    @extend .link--inline-dark;

    color: clr(grayscale, 0) !important;
  }

  .button_wrapper {
    @extend .button;
    @extend .button--secondary-dark;

    margin-right: space(1);
    min-height: initial;
    cursor: pointer;

    .form-submit {
      background-color: transparent;
    }

    .button__icon,
    .ajax-progress {
      display: none;
    }
  }
}
