@mixin link-base(
  $icon-hover: inherit,
  $text: clr(grayscale, 1000),
) {
  color: $text;
  outline: none;
  display: flex;
  align-items: center;
  text-decoration: none;
  letter-spacing: 0.1em;
  font-weight: $font-medium;
  text-transform: uppercase;
  text-underline-offset: px2rem(4);

  &:hover {
    .link__content::after {
      transform: scaleX(1);
    }

    .link__icon {
      color: $icon-hover;
      transform: scaleX(0.8);

      @media (prefers-reduced-motion: reduce) {
        transform: none;
      }
    }
  }

  &:focus {
    outline: none;

    .link__content::after {
      transform: scaleX(1);
      border-color: clr(secondary, 700);

      @media (prefers-reduced-motion: reduce) {
        transform: none;
      }
    }

    .link__icon {
      transform: scaleX(0.8);
      color: clr(secondary, 700);

      @media (prefers-reduced-motion: reduce) {
        transform: none;
      }
    }
  }
}

.link__content::after {
  content: '';
  display: block;
  transform: scaleX(0);
  transform-origin: 0% 50%;
  border-bottom: 1px solid clr(primary, 800);
  transition: transform 0.35s cubic-bezier(0.47, 1.64, 0.41, 0.8);

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }
}

.link__icon {
  width: px2rem(28);
  height: px2rem(12);
  margin-left: space(0.5);
  color: clr(primary, 800);
  transform-origin: 0% 50%;
  transition: transform 0.25s;
}

// Links variants.
.link--primary {
  @include link-base();
  margin-right: auto;
}

.link--dark {
  @include link-base($text: clr(grayscale, 0));
}

.link--inline {
  outline: none;
  display: inline-block;
  font-weight: $font-medium;
  color: clr(grayscale, 1000);
  text-underline-offset: px2rem(5);
  // Safari doesn't seem to support the text-decoration shorthand with
  // a CSS variable.
  text-decoration-line: underline;
  text-decoration-color: clr(primary, 800);
  text-decoration-thickness: px2rem(1);
  background: linear-gradient(
    transparent,
    transparent 50%,
    clr(primary-dark, 200) 50%
  );
  background-size: 100% 200%;
  transition: background 250ms;

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }

  &:hover {
    background-position: 100% 100%;
    text-decoration-color: clr(grayscale, 1000);
  }

  &:focus {
    background: clr(secondary, 100);
    text-decoration-color: clr(secondary, 700);
    outline: none;
  }

  .link__icon {
    display: none;
  }
}

.link--inline-dark {
  color: clr(grayscale, 0);
  background: linear-gradient(
    transparent,
    transparent 50%,
    clr(grayscale, 600) 50%
  );
  background-size: 100% 200%;

  &:focus {
    background-color: clr(secondary, 900);
  }
}

.link--jump {
  @extend .link--primary;

  display: inline-flex;
  color: clr(primary-dark, 700);

  &:hover {
    color: clr(grayscale, 1000);

    .link__icon {
      transform: translateY(2px);
    }
  }

  &:focus {
    border: 1px solid clr(secondary, 800);

    .link__content::after {
      display: none;
    }

    .link__icon {
      transform: translateY(2px);
    }
  }

  .link__content {
    @extend .paragraph--sm;

    color: inherit;
    text-transform: initial;
    font-weight: $font-medium;
  }

  .link__icon {
    width: px2rem(16);
    height: px2rem(16);
    align-self: center;
    margin-left: px2rem(14);
    color: clr(grayscale, 900);
  }
}

/* TODO: BEM selectors should be applied to wysiwyg-created content */
.text-long {
  a {
    @extend .link--inline;

    display: initial;
    word-break: break-word;
  }
}

// Layout inherited style.
.layout--dark {
  .text-long {
    .link--inline {
      @extend .link--inline-dark;
    }
  }
}

:focus {
  @include default-focus();
}
