.bio-square__link {
  text-decoration: none;
}

.bio-square__link__icon {
  display: none;
}

.bio-square__link__content {
  height: 100%;
  display: flex;
}

.bio-square {
  padding: space(1);
  transition: background-color 400ms;

  &:hover,
  &:focus {
    background-color: clr(grayscale, 1000);

    .heading,
    .paragraph {
      color: white;
    }
  }

  .heading {
    margin: space(1) 0 0;
    transition: color 400ms;
    color: clr(grayscale, 1000);
  }

  .paragraph {
    margin: 0;
    transition: color 400ms;
    color: clr(grayscale, 700);
  }
}

.bio-square__image-wrapper {
  position: relative;

  .image,
  img,
  picture {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}
