.place-holder {
  padding: $size-spacing-2;
  background: clr(grayscale, 300);

  &__content {
    font-size: fontsize(19);
    line-height: 1.4;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
