.tags-with-label {
  display: flex;
  margin-top: space(3.5);
  flex-direction: column;
  padding-top: space(1.5);
  border-top: 1px solid clr(primary-dark, 200);

  @include small {
    margin-top: space(4);
  }

  @include medium {
    flex-direction: row;
  }

  @include large {
    margin-top: space(5.5);
  }

  @include xl {
    margin-top: space(6.5);
  }

  @include xxxl {
    margin-top: px2rem(144);
  }

  &__tags {
    @include list-reset;

    flex: 1;
    display: flex;
    flex-wrap: wrap;
  }

  .link {
    @extend .paragraph--sm;

    display: flex;
    margin-right: space(1);
  }

  .paragraph--sm {
    margin-bottom: space(0.5);

    @include medium {
      margin-bottom: 0;
      margin-right: space(1);
    }
  }
}
