.social-menu {
  @include list-reset;

  display: flex;
  column-gap: space(1.5);
  background-color: clr(grayscale, 1000);

  &__item,
  .link__content {
    display: flex;
    width: space(1.5);
    height: space(1.5);
  }

  &__link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:focus {
      border: transparent;
      outline: 4px solid clr(secondary, 700);
    }
  }

  &__icon {
    width: 100%;
    height: 100%;
    color: clr(primary-dark, 600);

    &:hover {
      color: clr(grayscale, 0);
    }
  }

  &__text,
  .link__icon {
    display: none;
  }
}
