.resource-node-hero {
  &:not([class$="podcast"]):not([class$="landing"]) {
    @include macro-spacing-block();

    .section {
      padding-bottom: space(3);

      @include large {
        padding-bottom: space(3.5);
      }
    }
  }

  .section__sidebar {
    row-gap: 0;
  }

  .section__content {
    margin-bottom: space(3);

    @include large {
      margin-bottom: 0;
    }

    .heading {
      margin: 0;
    }

    .paragraph--xl {
      margin: space(1.5) 0 0 0;
      font-weight: $font-medium;

      @include xl {
        margin-top: space(2);
      }
    }

    .paragraph--sm {
      margin: space(2.5) 0 0 0;
      font-weight: $font-normal;
    }
  }

  .social-links {
    margin-top: space(2);

    @include large {
      margin-top: space(2.5);
    }
  }

  .pattern--dots {
    margin-top: 0;

    @include large {
      position: absolute;
    }
  }

  .breadcrumb {
    margin-bottom: space(1);

    @include xl {
      margin-bottom: space(2.5);
    }
  }

  .breadcrumb__item {
    padding-bottom: space(1);

    @include xl {
      padding-bottom: 0;
    }
  }
}

.resource-node-hero__content {
  .resource-node-hero__footer {
    padding: 0;
    display: flex;
    margin-top: space(2);
    flex-direction: column;

    @include medium {
      flex-direction: row;
    }

    @include xl {
      margin-top: space(2.5);
    }

    .link {
      display: flex;
      height: max-content;
      font-size: fontsize(20);

      @include medium {
        align-self: center;
      }
    }
  }
}

.resource-node-hero__image {
  z-index: 1;
  margin-top: auto;

  img {
    object-fit: cover;
    width: px2rem(219);
    height: px2rem(219);
    filter: drop-shadow(0 0 32px rgba(0, 0, 0, 0.08));

    @include large {
      width: px2rem(267);
      height: px2rem(267);
    }

    @include xl {
      width: px2rem(260);
      height: px2rem(260);
    }

    @include xxl {
      width: px2rem(300);
      height: px2rem(300);
    }
  }

  &--is-episode {
    .img {
      @include large {
        width: px2rem(144);
        height: px2rem(144);
      }
    }
  }
}

.resource-node-hero__footer {
  @extend .section;

  width: 100%;
  column-gap: space(2.5);
  padding-top: 0 !important;
  padding-bottom: 0 !important;

  .button {
    width: max-content;
    z-index: 2;
    grid-column: 1/-1;

    @include medium {
      grid-column: 1/3;
    }
    @include large {
      grid-column: 2/4;
    }
  }

  .link {
    margin-top: space(1.5);
    grid-column: 1/-1;

    @include medium {
      margin-top: 0;
      white-space: nowrap;
      display: flex;
      align-items: center;
      justify-content: start;
      grid-column: 3/6;
    }

    @include large {
      grid-column: 4/7;
    }
  }
}

.section--with-sidebar + .resource-node-hero__footer {
  margin-top: -3rem;

  @include large {
    margin-top: 0;
  }
}

.resource-node-hero__typewriter {
  margin-bottom: space(2.5);
}

.resource-node-hero--landing {
  .section {
    @media (max-width: 959px)  {
      padding-bottom: 0;
    }
  }

  .section__content {
    @include small {
      margin-bottom: space(3.5);
    }

    @include large {
      margin-bottom: 0;
    }
  }
}

// Layout inherited style.
.layout--dark {
  .resource-node-hero {
    .heading,
    .breadcrumb__item {
      color: clr(grayscale, 0);
    }

    .link--inline {
      @extend .link--inline-dark;
    }

    .pattern {
      @extend .pattern--dark;
    }

    .button {
      @extend .button--dark;
    }
  }
}
