.cta-promo {
  @extend .section;
  align-items: flex-end;

  .padding-top-0 & {
    padding-top: 0;
  }

  .padding-bottom-0 & {
    padding-bottom: 0;
  }

  .heading,
  .label {
    color: inherit;
    grid-column: 1/-1;

    @include large {
      grid-column: 2/8;
    }
  }

  .cta-promo__content {
    grid-column: 1/-1;

    @include large {
      grid-column: 8/13;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  &.cta-promo--image {
    .cta-promo__image {
      grid-column: 1/-1;

      @include large {
        grid-column: 2/8;
      }
    }

    .cta-promo__text {
      grid-column: 1/-1;

      @include large {
        grid-column: 8/14;
      }
    }
  }

  .heading {
    margin: 0;
    max-width: px2rem(500);
    margin-bottom: space(1.5);

    @include large {
      margin-bottom: 0;
    }

    &::before {
      margin-bottom: space(2.5);
    }
  }

  .label {
    margin: 0;
    max-width: px2rem(500);
    margin-bottom: space(1.5);

    &::before {
      margin-bottom: space(1.5);

      @include small {
        margin-bottom: space(2);
      }
    }
  }

  .link--primary {
    margin-top: space(1.5);
  }
}

.cta-promo:not(.layout .cta-promo) {
  @include macro-spacing-block;
  @include macro-spacing-inline;
}

.cta-promo__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

// Variations - Card style.
.section.cta-promo__wrapper {
  .cta-promo {
    @include large {
      grid-template-columns: repeat(12, 1fr);
    }
  }

  .heading {
    @extend .heading--lg;

    color: inherit;
    margin: auto 0 space(1.5);
    max-width: initial;
    grid-column: 1 / -1;

    @include large {
      grid-column: 1 / 7;
      margin: auto 0 0;
    }

    @include xxl {
      grid-column: 1 / 6;
    }
  }

  .cta-promo__content {
    grid-column: 1 / -1;

    @include large {
      grid-column: 7 / 11;
    }
  }

  .paragraph {
    @extend .info--lg;
  }
}

// Variations - Card style (text only).
.cta-promo--card.cta-promo--text-only {
  @extend .section__content;

  padding: space(3.5) space(1.5);

  @include small {
    padding: space(4.5) space(2);
  }

  @include large {
    padding: px2rem(136) 0 space(5.5);
  }

  @include xxxl {
    padding: px2rem(152) 0 space(5.5);
  }

  .heading {
    @include large {
      padding-left: space(3);
    }
  }
}

// Variations - Card style (image).
.cta-promo--card.cta-promo--image {
  @extend .section__content;

  padding: 0 !important;

  .cta-promo__image {
    grid-column: 1 / -1;

    @include large {
      grid-column: 1 / 7;
      padding-right: space(2);
    }

    * {
      height: 100%;
    }

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .cta-promo__text {
    grid-column: 1 / -1;
    padding: space(2) space(1.5);

    @include small {
      padding: space(3) space(2);
    }

    @include medium {
      padding: space(3);
    }

    @include large {
      grid-column: 7 / 13;
      padding: space(5.5) space(4.5) space(5.5) 0;
    }
  }

  .heading {
    margin-bottom: space(1.5);
  }
}

// Layout inherited style.
.layout__block:not(:last-child) {
  .cta-promo {
    padding-bottom: 0;
  }
}

.layout--dark {
  // Default styles within dark section.
  .cta-promo:not(.cta-promo--card),
  .cta-promo__wrapper.text-block {
    .link {
      @extend .link--dark;
    }
  }

  // Card styles within dark section.
  .cta-promo--card {
    color: clr(grayscale, 900);
    background-color: clr(grayscale, 0);
  }
}

.layout--white {
  // Card styles within white section.
  .cta-promo--card {
    color: clr(grayscale, 900);
    @include gradient(primary-dark, 200, 100);
  }
}

.layout--light {
  // Card styles within light section.
  .cta-promo--card {
    color: clr(grayscale, 900);
    background-color: clr(grayscale, 0);

    .link {
      @extend .link--primary;
    }
  }
}

// Update text-block
.cta-promo__wrapper.text-block {
  .cta-promo {
    align-items: flex-start;
  }

  .heading {
    @include large {
      grid-column: 2/6;
    }
  }

  .cta-promo__content {
    @include large {
      grid-column: 6/13;
    }
  }

  .cta-promo__content .text-long {
    h1 {
      @extend .heading--sm;
    }

    h2 {
      @extend .label--md;

      display: flex;
      align-items: center;
      color: clr(primary, 900);
      margin-bottom: space(1.5);

      &::before {
        content: none !important;
      }

      &::after {
        content: '';
        flex: 1;
        margin-left: space(1);
        height: 0.5rem;
        background-color: clr(grayscale, 100, .3);
      }
    }
  }
}
