.audio__wrapper {
  position: relative;
  padding-bottom: space(2);

  @include medium {
    padding-bottom: 0;
  }
}

.audio {
  display: flex;
  background-color: clr(grayscale, 1000);

  .button {
    @extend .label--xs;

    display: flex;
    border-width: 0;
    width: px2rem(64);
    height: px2rem(64);
    align-items: center;
    justify-content: center;
    color: clr(grayscale, 0);
    flex-direction: column-reverse;

    &:hover {
      border-width: 0;
    }

    @include large {
      width: px2rem(104);
      height: px2rem(104);
    }
  }

  .button__icon[class*=secondary] {
    width: px2rem(28);
    height: px2rem(28);
    margin: 0 0 space(0.5);
    color: clr(grayscale, 0);
  }

  > span {
    @extend .info--md;

    display: block;
    text-align: center;
    align-self: center;
    color: clr(grayscale, 0);
  }
}


.audio__elapsed {
  text-align: end;
  min-width: px2rem(42);
  margin: 0 space(0.5) 0 space(1);

  @include medium {
    margin-left: space(1.5);
  }
}

.audio__total {
  margin-right: space(1);
  padding-left: space(0.5);
  border-left: 1px solid clr(grayscale, 700);
}

.audio__timeline {
  align-self: center;
  margin-right: space(1);

  @include medium {
    margin-right: 0;
  }
}

.audio__speed {
  cursor: pointer;
  flex: 1;
  border: none;
  display: block;
  width: px2rem(64);
  padding: 0 space(1);
  color: clr(grayscale, 0);
  background-color: transparent;

  @include medium {
    flex: auto;
    width: auto;
    text-align: end;
  }

  &:focus {
    border: transparent;
    outline-offset: -4px;
    @include default-focus();
  }
}

// Controls.
.audio__controls {
  .audio__items {
    right: 0;
    display: none;
    top: px2rem(64);
    position: absolute;
    background-color: clr(grayscale, 1000);

    @include medium {
      display: flex;
      position: initial;
    }
  }

  .toggle {
    .button.button--secondary {
      display: flex;

      @include medium {
        display: none;
      }
    }
  }

  &:hover {
    .audio__items {
      display: flex;
    }
  }
}

.audio__action {
  .button.button--secondary {
    display: flex;
    line-height: 0;
    color: transparent;
    border-left: 1px solid #272F35;
    background-color: clr(grayscale, 1000);

    @include large {
      color: clr(grayscale, 0);
      line-height: fontsize(16);

      &:hover {
        color: clr(grayscale, 1000);
      }
    }

    &::before {
      background-color: clr(secondary, 600);
    }

    &:hover {
      svg {
        color: clr(grayscale, 1000);
      }
    }
  }

  &.subscribe {
    &:hover {
      .audio__subscribe-menu {
        display: block;
        z-index: 9999;
      }
    }
  }
}

// Subscribe.
.audio__subscribe {
  &-menu {
    @include list-reset;

    right: 0;
    display: none;
    position: absolute;
    min-width: px2rem(256);
    background: clr(grayscale, 800);
  }

  &-menu-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: space(1);

    &:not(:last-child) {
      border-bottom: 1px solid clr(grayscale, 700);
    }

    svg {
      width: px2rem(24);
      height: px2rem(24);
      color: clr(primary-dark, 600);
    }

    .link {
      width: px2rem(200);
      transform: scale(0.7);
      transform-origin: 0% 50%;
      padding: space(1) space(1.5);
    }

    .link__icon {
      display: none;
    }
  }
}

// Component status.
.audio__wrapper.playing {
  .audio__pause {
    display: block;

    .button__icon {
      margin: 0;
      color: clr(grayscale, 1000);
    }
  }
}

.audio__wrapper:not(.playing) {
  .audio__play {
    display: block;

    .button__icon {
      stroke-width: 2px;
      margin: 0 0 0 space(0.5);
      stroke: clr(grayscale, 1000);
      color: clr(secondary, 600);
    }
  }
}

.audio__play,
.audio__pause {
  display: none;

  .button {
    border-left: none;
    background-color: clr(secondary, 600);

    &::before {
      background-color: clr(grayscale, 0);
    }

    &:hover {
      box-shadow: 0 0 32px rgba(0, 0, 0, 0.12);

      .button__icon {
        stroke: clr(secondary, 600);
        color: clr(secondary, 600);
      }
    }
  }
}
