.documentation {
  .documentation__section {
    padding-top: space(4);

    &:not(:first-child) {
      .heading {
        margin: 0 0 space(1);
      }
    }

    &:not(:last-child) {
      padding-bottom: 0;
    }
  }

  .accordion-item__content {
    .link {
      margin: space(3.5) 0 space(2) 0;
    }

    .param--focused {
      color: clr(grayscale, 0);
      transition: background-color 0.25s;
      background-color: clr(primary, 800);
    }

    [class$="param"] {
      transition: background-color 0.25s;
    }

    [class$="param--anchor"] {
      @extend .link--inline;

      line-height: calc(100% + 2px);
      cursor: pointer;
    }

    pre {
      color: clr(primary-dark, 800);
      background-color: clr(primary-dark, 100);
    }
  }

  .accordion-item--breakpoints {
    .accordion-item__image {
      background-image: url(../images/images/device--small.png);
      background-repeat: no-repeat;
      background-size: 100%;

      &[data-image="small"] {
        background-image: url(../images/images/device--small.png);
      }

      &[data-image="medium"] {
        background-image: url(../images/images/device--medium.png);
      }

      &[data-image="large"] {
        background-image: url(../images/images/device--large.png);
      }

      &[data-image*="xl"] {
        background-image: url(../images/images/device--xl.png);
      }
    }
  }

  select {
    background: transparent;
    border-radius: px2rem(4);
    color: clr(primary-dark, 800);
    cursor: pointer;
  }

  code {
    width: 100%;
    display: block;
    position: relative;

    button {
      opacity: 0.5;
      border: none;
      top: space(1);
      right: space(1);
      width: px2rem(24);
      position: absolute;
      height: px2rem(24);
      background-size: 100%;
      transition: opacity 400ms;
      background-image: url(../images/icons/copy.svg);
      cursor: pointer;

      &:hover {
        opacity: 0.7;
        transition: opacity 400ms;
      }
    }
  }
}
