@mixin grid {
  display: grid;
  grid-gap: $size-spacing-5 0;

  @include medium {
    grid-gap: $size-spacing-4;
  }
}

.grid {
  @include grid;

  @include medium {
    &--3col {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.grid__item {
  display: grid;
  width: 100%;
}

@mixin flex {
  display: flex;
  flex-wrap: wrap;
}
