{#
/**
 * @file
 * Theme override of a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 */
#}
{{ attach_library('bizness/forms') }}

<button type="button" {{ bem('toggle', [], 'filters') }}>Filters</button>
<div {{ bem('wrapper', [], 'filters') }}>
  {{ form }}
</div>
