{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% set featured_case_study__base_class = 'featured-case-study-secondary-list' %}

{% embed "@molecules/featured-case-study/secondary-list/featured-case-study-secondary-list.twig" with {
  featured_case_study__heading: 'Recent Work',
  featured_case_study__url: '/our-work',
  featured_case_study_modifiers: 'view'
} %}
  {% block content_list %}
    {% for row in rows %}
      <li {{ bem('item', [], featured_case_study__base_class) }}>
        {{- row.content -}}
      </li>
    {% endfor %}
  {% endblock %}
{% endembed %}