{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *   - bio_id: the bio's id. Can be used when the new resources view page is created.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{%
  set classes = [
    'view',
    'view-' ~ id|clean_class,
    'view-id-' ~ id,
    'view-display-id-' ~ display_id,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% embed "@molecules/case-study/case-study-list.twig" %}
    {% block case_studies %}
        {% for row in rows %}
        <li {{ bem('item', [], 'case-studies-teaser') }}>
          {{- row.content -}}
        </li>
      {% endfor %}
    {% endblock %}
  {% endembed %}
</div>
