.link-list-primary {
  .label {
    margin: 0 space(1) 0 0;
    color: clr(primary, 900);
  }
}

.link-list-primary__header-wrapper {
  display: flex;
  align-items: center;
  padding: 0 0 space(1.5);
}

.link-list-primary__line {
  flex: 1;
  height: 0.5rem;
  background-color: clr(grayscale, 100, .3);
}

.link-list-primary__items {
  margin: 0;

  li {
    @extend .paragraph--lg;
  }
}

.link-list-primary__item {
  padding-left: space(1.5);
  padding-bottom: space(1.5);

  .link.link--inline {
    display: inline-block;
    font-weight: $font-heavy;
  }
}

* + .link-list-primary {
  padding-top: space(4);
}
