{% set featured_case_study__base_class = 'featured-case-study-secondary-list' %}

<div {{ bem(featured_case_study__base_class) }}>
  <div {{ bem('heading', [], featured_case_study__base_class) }}>
    {% if featured_case_study__heading %}
      {% include "@atoms/text/text/01-paragraph.twig" with {
        paragraph_modifiers: ['lg'],
        paragraph_base_class: 'label',
        paragraph_content: featured_case_study__heading,
      } %}
    {% endif %}
    {% if featured_case_study__url %}
     {% include "@atoms/links/link/link.twig" with {
        link_content: 'See all',
        link_modifiers: ['dark'],
        link_url: featured_case_study__url,
      } %}
    {% endif %}
  </div>
  <ul {{ bem('items', featured_case_study_modifiers, featured_case_study__base_class) }}>
    {% block content_list %}
      {% for item in featured_case_study__items %}
        <li {{ bem('item', [], featured_case_study__base_class) }}>
          {% include "@molecules/featured-case-study/secondary/featured-case-study-secondary.twig" with item %}
        </li>
      {% endfor %}
    {% endblock %}
  </ul>
</div>
