.footer-menu {
  @include list-reset;
}

.footer-menu__item {
  display: flex;

  &:not(:last-child) {
    margin-bottom: space(1.5);
  }
}
  
.footer-menu__link {
  @extend .link;
  @extend .link--dark;
  @extend .label--sm;
  @extend .link__content;

  transition: all 0.3s;
  display: inline-block;
  color: clr(primary-dark, 600);

  &:hover {
    transition: all 0.3s;
    color: clr(grayscale, 0);
  }
}

.footer-menu__link__content {
  @extend .link__content;
}

.footer-menu__link__icon {
  display: none;
}
