@use 'sass:map';
@use '../colors/colors-used' as *;

// Font family.
$font-sans: 'Circular', verdana, sans-serif;
$font-monospace: 'IBMPlexMono', 'Consolas', 'Liberation Mono', ;

// Font weight.
$font-normal: 450;
$font-medium: 500;
$font-heavy: 700;

// Font sizes.
$font-size-10: 0.625rem; // 10px.
$font-size-12: 0.75rem; // 12px.
$font-size-14: 0.875rem; // 14px.
$font-size-16: 1rem; // 16px.
$font-size-18: 1.125rem; // 18px.
$font-size-20: 1.25rem; // 20px.
$font-size-24: 1.5rem; // 24px.
$font-size-28: 1.75rem; // 28px.
$font-size-32: 2rem; // 32px.
$font-size-38: 2.375rem; // 38px.
$font-size-40: 2.5rem; // 40px.
$font-size-48: 3rem; // 48px.
$font-size-56: 3.5rem; // 56px.
$font-size-62: 3.875rem; // 62px.
$font-size-72: 4.5rem; // 72px.
$font-size-80: 5rem; // 80px.
$font-size-88: 5.5rem; // 88px.

$fontsizes: (
  10: var(--font-size-10),
  12: var(--font-size-12),
  14: var(--font-size-14),
  16: var(--font-size-16),
  18: var(--font-size-18),
  20: var(--font-size-20),
  24: var(--font-size-24),
  28: var(--font-size-28),
  32: var(--font-size-32),
  38: var(--font-size-38),
  40: var(--font-size-40),
  48: var(--font-size-48),
  56: var(--font-size-56),
  62: var(--font-size-62),
  72: var(--font-size-72),
  80: var(--font-size-80),
  88: var(--font-size-88),
);

@function fontsize($size) {
  @return map.get($fontsizes, $size);
}

// Heading mixins.
@mixin heading {
  width: auto;
  font-style: normal;
  margin: space(2.5) 0;
  letter-spacing: -0.02em;
  font-weight: $font-heavy;
  color: clr(grayscale, 1000);

  &__link {
    color: inherit;

    &:hover {
      color: inherit;
    }
  }
}

@mixin heading-decoration($color: clr(primary, 800), $margin-left: 0) {
  &::before {
    content: '';
    display: block;
    width: px2rem(72);
    height: 1.5px;
    margin: 0 0 space(2) $margin-left;
    background-color: $color;

    @include xl {
      margin: 0 0 space(2.5) $margin-left;
    }
  }
}

// Label mixins.
@mixin label {
  font-style: normal;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: $font-medium;

  &__link {
    color: inherit;

    &:hover {
      color: inherit;
    }
  }
}

// Label--md mixin.
@mixin label--md {
  @include label;

  font-size: fontsize(14);
  line-height: fontsize(16);
}

// Body mixins.
@mixin body(
  $font-size,
  $line-height,
  $spacing: 0.1em,
) {
  font-style: normal;
  letter-spacing: $spacing;
  font-size: fontsize($font-size);
  line-height: fontsize($line-height);
}

// Info mixins.
@mixin info(
  $font-size,
  $line-height,
) {
  font-style: normal;
  font-size: fontsize($font-size);
  line-height: fontsize($line-height);
}

// set CSS variables equal to sass variables above.
:root {
  --font-size-10: #{$font-size-10};
  --font-size-12: #{$font-size-12};
  --font-size-14: #{$font-size-14};
  --font-size-16: #{$font-size-16};
  --font-size-18: #{$font-size-18};
  --font-size-20: #{$font-size-20};
  --font-size-24: #{$font-size-24};
  --font-size-28: #{$font-size-28};
  --font-size-32: #{$font-size-32};
  --font-size-38: #{$font-size-38};
  --font-size-40: #{$font-size-40};
  --font-size-48: #{$font-size-48};
  --font-size-56: #{$font-size-56};
  --font-size-62: #{$font-size-62};
  --font-size-72: #{$font-size-72};
  --font-size-80: #{$font-size-80};
  --font-size-88: #{$font-size-88};
}
