.hero-article {
  @include macro-spacing-block();

  .section {
    padding-bottom: space(3);

    @include large {
      padding-bottom: space(3.5);
    }
  }

  .section__content {
    margin-bottom: 0;

    @include xl  {
      margin-left: space(2.5);
    }

    &> *:first-child {
      margin-top: 0;
    }

    &> *:last-child {
      margin-bottom: 0;
    }
  }
}

.hero-article__description {
  .paragraph {
    font-weight: $font-medium;
    margin: space(1.5) 0 0;

    @include xl {
      margin-top: space(2);
    }
  }
}

.hero-article__author {
  margin-top: space(1.5);
  margin-bottom: space(0.5);

  @include small {
    display: inline-block;
    margin-bottom: 0;
  }

  @include xl {
    margin-top: space(2);
  }

  .paragraph {
    display: inline;
    color: clr(grayscale, 900);
  }

  & + .hero-article__date {
    @include small {
      margin-left: space(1);
      padding-left: space(1);
      border-left: 1px solid clr(primary-dark, 300);
    }
  }
}

.hero-article__date {
  @include small {
    display: inline-block;
    margin-top: space(1.5);
  }

  @include xl {
    margin-top: space(2);
  }

  .paragraph {
    margin: 0;
  }
}
