.results-teaser-list,
.search-results-page .search-form ~ ol {
  .results-teaser {
    margin-top: space(3.5);
    padding-bottom: space(3.5);
    border-bottom: 1px solid clr(grayscale, 100);
  }

  .results-teaser__topic {
    font-size: fontsize(12) !important;
    line-height: fontsize(16) !important;
  }
}
