{#
/**
 * @file
 * Theme override for status messages.
 *
 * Displays guest basic information.
 *
 * Available variables:
 * - results_teaser_list: Results teaser list.
 */
#}
{% set results_teaser_list__base_class = 'results-teaser-list' %}

<div {{ bem(results_teaser_list__base_class) }}>
  {% block resources_elements %}
    {% for results_teaser in results_teaser_list %}
      {% include "@molecules/results-teaser/results-teaser.twig" with {
        results_teaser__title: results_teaser.results_teaser__title,
        results_teaser__url: results_teaser.results_teaser__url,
        results_teaser__date: results_teaser.results_teaser__date,
        results_teaser__type: results_teaser.results_teaser__type,
        results_teaser__episode: results_teaser.results_teaser__episode,
        results_teaser__authors: results_teaser.results_teaser__authors,
        results_teaser__description: results_teaser.results_teaser__description,
        results_teaser__topics_list: results_teaser.results_teaser__topics_list
      } %}
    {% endfor %}
  {% endblock %}
</div>
