.cl-palettes {
  padding: space(1);

  li::before {
    display: none;
  }

  h1 {
    @extend .paragraph--2xl;

    padding-bottom: space(1);
    margin-bottom: space(3);
    position: relative;

    &::before {
      content: '';
      bottom: 0;
      left: space(1);
      width: px2rem(72);
      height: px2rem(2);
      position: absolute;
      background-color: clr(primary, 800);
    }
  }

  h2 {
    @extend .paragraph--xl;

    font-weight: $font-heavy;
    padding: 0 space(1);
  }
}

.cl-palettes__colors {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 space(2);
}

.cl-palettes__color {
  display: flex;
  padding: 1rem;
  font-size: 1rem;
  list-style: none;
  max-width: 13rem;
  flex-direction: column;
  cursor: pointer;

  &:hover {
    background-color: clr(grayscale, 50);
  }
}

.cl-palettes__swatch {
  width: 11rem;
  height: 6rem;
}

.cl-palettes__title {
  @extend .paragraph--md;

  margin: space(1) 0 0;
  font-weight: $font-heavy;

  & ~ span {
    @extend .paragraph--sm;
  }
}

// Style default color swatches
@each $name, $color in $color-palette {
  @if type-of($color) == map {
    @each $variant, $value in $color {
      .cl-palettes__color {
        &--#{'' + $name}-#{$variant} {
          .cl-palettes__swatch {
            background-color: clr(#{$name}, #{$variant});
          }
        }
      }
    }
  }
}
