<p>
  This component is for demonstration purpose only.
  This images are SVG files in /images/textures/.
</p>
<div class="textures-demo">
  {% for item in textures %}
    <div class="textures-demo__item">
      <pre>{{ item.image_alt }}</pre>
      {% include "@atoms/images/image/_image.twig" with {
        image_src: item.image_src,
        image_alt: item.image_alt, 
      } %}
    </div>
  {% endfor %}
</div>