/*
 * Generic header styles:
 * All arguments are optional. If not defined, the defaults below will be used
*/
.heading--3xl {
  @include heading;

  font-size: fontsize(48);

  @include large {
    font-size: fontsize(80);
    line-height: fontsize(88);
  }
}

.heading--2xl {
  @include heading;

  font-size: fontsize(40);
  line-height: fontsize(48);

  @include small {
    font-size: fontsize(48);
    line-height: px2rem(56);
  }

  @include xl {
    font-size: fontsize(62);
    line-height: fontsize(72);
  }
}

.heading--xl {
  @include heading;

  font-size: fontsize(32);
  line-height: fontsize(40);

  @include small {
    font-size: fontsize(40);
    line-height: fontsize(48);
  }

  @include xl {
    font-size: fontsize(48);
    line-height: fontsize(56);
  }
}

.heading--lg {
  @include heading;

  font-size: fontsize(32);
  line-height: fontsize(40);

  @include xl {
    font-size: fontsize(38);
    line-height: fontsize(48);
  }
}

.heading--md {
  @include heading;

  font-size: fontsize(24);
  line-height: fontsize(32);

  @include xl {
    font-size: fontsize(32);
    line-height: fontsize(40);
  }
}

.heading--sm {
  @include heading;

  font-size: fontsize(24);
  line-height: fontsize(32);
}

.heading--xs {
  @include heading;

  font-size: fontsize(20);
  line-height: fontsize(24);
}

.heading--2xs {
  @include heading;

  font-size: fontsize(18);
  line-height: fontsize(24);
}

.label--decorated,
.heading--decorated {
  @include heading-decoration;
}

.label--dark-decoration,
.heading--dark-decoration {
  @include heading-decoration(clr(primary-dark, 800));

  color: clr(grayscale, 0);
}

.heading--decorated-bar {
  align-items: center;
  column-gap: space(1);
  display: grid;
  grid-template-columns: auto 1fr;

  &::after {
    background: clr(grayscale, 50);
    content: "";
    height: px2rem(8);
    width: 100%;
  }
}

/* TODO: BEM selectors should be applied to wysiwyg-created content */
.text-long {
  h2 {
    @extend .heading--lg;
    @include heading-decoration;

    width: 100%;
    float: left;
    display: block;
    margin: space(3) 0 space(1.5);

    &::before {
      margin-bottom: space(2);
    }
  }

  h3 {
    @extend .heading--sm;

    margin: space(3.5) 0 space(1.5);
  }

  h4 {
    @extend .heading--xs;
  }

  h5,
  h6 {
    @extend .label--lg;

    margin: 2rem 0 !important;
  }
}
