.intro-hero-tertiary {
  @extend .section;

  color: clr(grayscale, 300);

  &.has-animations {
    @include xl {
      grid-template-rows: 0 auto auto;
      position: relative;
    }
  }

  .pattern {
    display: initial;
    grid-column: 1 / -1;
    margin: space(2.5) 0 0;

    @include large {
      margin: 0;
      grid-column: 11 / 15;
    }
  }
}

.intro-hero-tertiary.has-animations .pattern {
  @include large {
    grid-row: 2;
  }
}

.intro-hero-tertiary.intro-hero {
  padding-bottom: 0;
}

.intro-hero-tertiary.no-logos {
  padding-bottom: space(2.5);

  @include large {
    padding-bottom: space(5.5);
  }

  @include xl {
    padding-bottom: space(6.5);
  }

  @include xxxl {
    padding-bottom: px2rem(144);
  }
}

// Content.
.intro-hero-tertiary__content {
  grid-column: 1 / -1;

  @include large {
    grid-column: 2 / 10;
  }

  .has-animations & {
    @include large {
      grid-row: 2;
    }
  }

  .heading {
    width: 100%;
    margin-bottom: 0;
    color: clr(grayscale, 0);
  }
}

// Brands.
.intro-hero-tertiary__brands {
  overflow: hidden;
  position: relative;
  grid-column: 1 / -1;

  @include large {
    grid-column: 2 / -2;
    margin-top: space(5.5);
  }

  @include xl {
    margin-top: space(6.5);
  }

  .has-animations & {
    @include large {
      grid-row: 3;
    }
  }

  .brands {
    padding: 0;
    margin-top: space(2.5);

    @include large {
      margin-top: 0;
    }

    &.animated {
      &::after,
      &::before {
        top: 0;
      }
    }
  }

  svg {
    margin: auto;
    display: block;
  }

  path {
    fill: clr(grayscale, 600);
  }
}

// Layout inherited style.
.layout--dark {
  .intro-hero-tertiary {
    .pattern {
      @extend .pattern--dark;
    }
  }
}

.layout--white {
  .intro-hero-tertiary {
    .brands.animated {
      &::after,
      &::before {
        background: linear-gradient(
          to right,
          clr(grayscale, 0) 0%,
          transparent 100%
        );
      }
    }
  }
}

.layout--light {
  .intro-hero-tertiary {
    .brands.animated {
      &::after,
      &::before {
        background: linear-gradient(
          to right,
          clr(grayscale, 50) 0%,
          transparent 100%
        );
      }
    }
  }
}

.layout--white,
.layout--light {
  .intro-hero-tertiary {
    color: clr(grayscale, 1000);

    .label {
      color: clr(grayscale, 900);
    }

    .heading {
      color: clr(grayscale, 1000);
    }
  }
}
