$color-breadcrumb: clr(grayscale, 1000);
$color-breadcrumb-hover: clr(primary, 800);
$color-breadcrumb-active: $color-breadcrumb;

.breadcrumb {
  @include list-reset;
}

.breadcrumb__item,
.breadcrumb__link,
.breadcrumb__link:link,
.breadcrumb__link:visited,
.breadcrumb__link:focus {
  color: $color-breadcrumb;
  text-decoration: none;
}

.breadcrumb__item {
  display: inline-block;
  font-size: space(1);
  font-weight: $font-medium;
  line-height: 1;

  &:last-child {
    color: $color-breadcrumb-active;
  }
}

.breadcrumb__icon {
  color: clr(primary-dark, 500);
  height: px2rem(10.75);
  margin: 0 px2rem(10.75);
  width: px2rem(10.75);
}
