.caption {
  display: block;

  .paragraph {
    @extend .paragraph--xs;

    color: clr(grayscale, 500);
    padding-bottom: space(1.5);
    border-bottom: 1px solid clr(primary-dark, 300);
  }
}

/* TODO: BEM selectors should be applied to wysiwyg-created content */
.text-long {
  .caption {
    .paragraph {
      padding-top: space(1.5);
    }
  }

  .embedded-entity[data-entity-type=media] > p {
    margin-bottom: 0;
  }
}

.layout__block {
  .caption {
    .paragraph {
      margin-bottom: 0 !important;
    }
  }
}
