{#
/**
 * This is strictly an exmaple file to demonstrate markup in Storybook.
 * It is not intended to be included in any other component.
 */
#}
{% set caption_base_class = caption_base_class|default('caption') %}

<div {{ bem(caption_base_class) }}>
  {% include '@atoms/text/text/01-paragraph.twig' with {
    paragraph_modifiers: ['xs'],
    paragraph_content: caption_text,
  } %}
</div>
