/* Tab Navigation */
#block-tabs-2 {
  @extend .section;

  grid-column: 1 / -1;
  padding: 0 !important;
}

.tabs__nav {
  @include list-reset;

  grid-column: 1 / -1;
  border-bottom: 1px solid clr(primary-dark, 300);

  @include large {
    display: flex;
    grid-column: 2 / -2;
  }
}

/* Tab Content (hidden only in full #tabs js version) */
.tabs__tab {
  display: none;

  &.is-active {
    display: block;
  }
}

.tabs__content {
  padding: space(1.5);
}

/* No-js fallback */
.tabs.no-js {
  .tabs__tab.is-active {
    display: block;
  }
}

/* Drupal Local Tasks variant */
.tabs__nav--local-tasks {
  margin: space(1.5) 0 space(0.5);
  padding: 0;
}

.tabs__link--local-tasks {
  padding: space(0.5) space(1.5);
}
