{#
/**
 * Available variables:
 * - pattern__modifiers: Pattern name to use [dots|crosses].
 */
#}

{% set pattern__base_class = 'pattern' %}
{% set pattern__modifiers = pattern__modifiers|default(['dots']) %}

<div {{ bem(pattern__base_class, pattern__modifiers) }}></div>
