.bio {
  position: relative;
  padding-bottom: space(3.5);

  .pattern {
    top: 0;
    right: 0;
    width: 100%;
    position: absolute;
    height: space(4.5);
    grid-column: 1 / -1;
    margin-top: space(3);
  }

  img {
    z-index: 1;
    display: initial;
    position: relative;
    max-width: px2rem(128);
    margin-bottom: space(1.5);
  }

  .label {
    color: clr(primary, 900);
    margin: space(0.5) 0 space(1);
  }

  .heading {
    margin: 0 0 space(1);

    @include small {
      font-size: fontsize(32);
      line-height: fontsize(40);
    }

    @include xl {
      font-size: fontsize(40);
      line-height: fontsize(48);
    }
  }

  p:not(.label) {
    @extend .paragraph--sm;

    color: clr(grayscale, 500);

    a {
      @extend .link--inline;
      @extend .link__content;
    }
  }

  .link {
    margin-top: space(1.5);
  }
}

.section__sidebar {
  .bio {
    @extend .sidebar__wrapper;

    &__inner {
      grid-column: 1 / -2;
    }
  }
}
