.featured-resource-secondary {
  padding-right: space(1.5);

  @include large {
    padding-right: space(2);
  }

  .featured-resource-secondary__title-link {
    @extend .heading--md;

    @include heading-decoration(clr(primary-dark, 400));
    @include multiline-underline-animation;

    display: block;
    margin: 0;
    text-decoration: none;
    outline: none;
    position: relative;

    &::before {
      margin-bottom: space(1.5);

      @include xl {
        margin-bottom: space(2.5);
      }
    }

    .title-link__icon {
      display: none;
    }
  }

  .button {
    margin: space(1.5) 0 px2rem(2);

    @include xl {
      margin-top: space(2.5);
    }
  }
}
