{#
/**
 * Available variables:
 * - resource__title: Featured resource title.
 * - resource__link: Featured resource custom link.
 * - resource__icon_type: Featured resource icon according to node type.
 */
#}

{% set featured_resource__base_class = 'featured-resource-secondary' %}

<div {{ bem(featured_resource__base_class) }} {{ attributes }}>
  {% if resource__title %}
    {% include "@atoms/links/link/link.twig" with {
      link_content: resource__title,
      link_url: resource__link.href,
      link_modifiers: 'featured-resource-secondary',
      link_blockname: featured_resource__base_class,
      link_base_class: 'title-link',
    } %}
  {% endif %}

  {% if resource__link %}
    {% include "@atoms/buttons/button.twig" with {
      button_icon: resource__icon_type,
      button_type: 'link',
      button_content: resource__link.text,
      button_url: resource__link.href,
      button_modifiers: resource__link.style ? resource__link.style : ['secondary-dark']
    } %}
  {% endif %}
</div>
