.node-white-papers {
  .resource-node-hero {
    margin-bottom: px2rem(112) * -1;
  }

  > .section__wrapper > .section {
    @include macro-spacing-block(false, true, false);

    padding-top: space(3.5);

    .section__content {
      padding-top: px2rem(112);
    }
  }

  &__content {
    margin-bottom: space(4.5);

    @include large {
      margin-bottom: 0;
    }
  }

  form {
    @extend .bg-black;

    margin-top: space(3.5);
  }
}
