{#
/**
 * Displays social links basic information.
 *
 * Available variables:
 * - links: Set of links to be display
 *   - text (optional): Link text.
 *   - icon: Icon name.
 *   - href: Link href.
 * - is_podcast: Boolean to know if it is a podcast.
 */
#}

{% set social_links__base_class = 'social-links' %}
<nav {{ bem(social_links__base_class, [(is_podcast) ? 'podcast' : '']) }}>
  {% for link in links %}
    {% if link.href %}
      {% embed "@atoms/links/link/link.twig" with {
        link_url: link.href,
        link_modifiers: ['inline', 'social-links'],
      } %}
        {% block link_content %}
          {% include "@atoms/images/icons/_icon.twig" with {
            icon_name: link.icon,
            icon_title: link.icon,
          } %}
          {{ link.text }}
        {% endblock %}
      {% endembed %}
    {% endif %}
  {% endfor %}
</nav>
