.featured-resources-list-secondary {
  @include macro-spacing-block;
  @include macro-spacing-inline;

  @include xxxl {
    padding-left: 0;
    padding-right: 0;
  }

  &__content-wrapper {
    @include xxxl {
      max-width: px2rem(1456);
      margin: 0 auto;
    }
  }

  &__title-link-container {
    gap: space(1);
    display: flex;
    flex-direction: column;
    margin-bottom: space(1.5);

    @include small {
      margin-bottom: space(2);
    }

    @include medium {
      flex-direction: row;
      justify-content: space-between;
    }

    @include large {
      margin-bottom: space(3);
    }

    .link {
      margin-right: 0;
    }
  }
}

.featured-resource + .featured-resources-list-secondary {
  @include macro-spacing-block(true, true, false);
}

.heading--resources {
  margin: 0;
  font-size: fontsize(16);
  line-height: fontsize(24);
  font-weight: $font-medium;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
