// Color variables - it is better to use the colors in
// components/00-base/colors/_colors-used.scss rather than
// these colors directly.
$color-palette: (
  primary: (
    '1000': #a51400,
    '900': #cf1900,
    '800': #f81e00,
    '700': #f9442b,
    '600': #fa6955,
    '500': #fb8e80,
    '400': #fdb4aa,
    '300': #fed2cc,
    '200': #fee0dc,
    '100': #fee9e6,
  ),
  primary-dark: (
    '1000': #12212b,
    '950': #1b303f,
    '900': #20394b,
    '800': #445a6a,
    '700': #5e798d,
    '600': #869eae,
    '500': #aebec9,
    '400': #c7d3db,
    '300': #d7dfe5,
    '200': #e0e6eb,
    '100': #edf0f2,
    '50': #f9fafb,
  ),
  grayscale: (
    '1000': #01070b,
    '900': #171d21,
    '800': #272f35,
    '700': #323c43,
    '600': #434e56,
    '500': #5d686f,
    '400': #75818a,
    '300': #909ba2,
    '200': #b1b9be,
    '100': #d6d9dc,
    '50': #f4f5f6,
    '0': #fff,
  ),
  secondary: (
    '900': #1481b8,
    '800': #1d8fc9,
    '700': #38a5dc,
    '600': #4eb6eb,
    '500': #6bc3ef,
    '400': #86d0f5,
    '300': #a2dcf9,
    '200': #bfe8fd,
    '100': #d8f2ff,
  ),
  secondary-light: (
    '800': #fac12e,
    '700': #ffcc47,
    '600': #ffd25d,
    '500': #ffdc80,
    '400': #ffe399,
    '300': #ffebb8,
    '200': #fff1cc,
    '100': #fff6df,
  ),
);
