.guest-list {
  .heading.heading--decorated-bar {
    @extend .label--md;

    margin: space(1.5) 0 0;
    color: clr(primary, 900);
    padding: space(2.5) 0 space(1.5);
  }

  .guest__content {
    .paragraph {
      @include medium {
        max-width: px2rem(576);
      }

      @include large {
        max-width: px2rem(437);
      }

      @include xl {
        max-width: px2rem(579);
      }

      @include xxl {
        max-width: px2rem(685);
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .link {
      margin-top: space(1.5);
    }
  }

  .guest:last-child {
    padding-bottom: 0;

    .guest__bio {
      margin-bottom: 0;

      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}
