{#
/**
 * Displays guest basic information.
 *
 * Available variables:
 * - guests_title: Heading of the guest list.
 * - guests: Guest list.
 */
#}
{% set guest__base_class = 'guest-list' %}
<div {{ bem(guest__base_class) }}>
  {% if guests_title %}
    {% include "@atoms/text/headings/_heading.twig" with {
      heading_level: 3,
      heading: guests_title,
      heading_modifiers: ['decorated-bar'],
    } %}
  {% endif %}
  {% block guests_content %}
    {% for guest in guests %}
      {% include "@molecules/guest/guest.twig" with {
        guest__heading_level: guest.guest__heading_level,
        guest__name: guest.guest__name,
        guest__bio: guest.guest__bio,
        guest__image: guest.guest__image,
        guest__link: guest.guest__link,
        guest__external: guest.guest__external,
      } %}
    {% endfor %}
  {% endblock %}
</div>
