@mixin display-grid($content, $image, $bg: transparent) {
  .featured-case-study__content {
    background-color: $bg;

    @include large {
      grid-row: 1;
      grid-column: #{map-get($content, start)} / #{map-get($content, end)};
    }
  }

  .featured-case-study__image {
    @include large {
      grid-row: 1;
      grid-column: #{map-get($image, start)} / #{map-get($image, end)};
    }
  }
}

.featured-case-study {
  @extend .section;

  color: clr(grayscale, 800);

  .heading {
    margin: 0 0 space(1);

    &::before {
      margin-bottom: space(2);

      @include xl {
        margin-bottom: space(2.5);
      }
    }
  }

  .info {
    margin: 0 0 space(2.5);
  }

  & + .featured-case-study {
    padding-top: space(3);
  }
}

// Link
.featured-case-study__link {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  position: absolute;

  .link__icon,
  .link__content {
    display: none;
  }
}

// Content
.featured-case-study__content {
  display: flex;
  grid-column: 1 / -1;
  flex-direction: column;
  justify-content: center;
  padding: space(3.5) space(1.5);

  @include small {
    padding: space(4.5) space(2);
  }

  @include large {
    padding: space(5.5) space(3);
  }

  @include xl {
    padding: space(6.5) space(4);
  }

  @include xxxl {
    padding-top: px2rem(144);
    padding-bottom: px2rem(144);
  }
}

// Image
.featured-case-study__image {
  overflow: hidden;
  grid-column: 1 / -1;
  min-height: px2rem(256);

  @include small {
    min-height: px2rem(304);
  }

  @include medium {
    min-height: px2rem(416);
  }

  @include large {
    flex-grow: 1;
    min-height: px2rem(360);
    position: relative;
    overflow: hidden;
  }

  @include xl {
    min-height: px2rem(504);
  }

  @include xxl {
    min-height: px2rem(520);
  }

  @include xxxl {
    min-height: px2rem(600);
  }

  img,
  picture {
    width: 100%;
    display: block;
    object-position: center;
    transition: transform 400ms;
    height: 100%;
    object-fit: cover;

    @media (prefers-reduced-motion: reduce) {
      transition: none;
    }

    @include large {
      // pos absolute so the image can be the container's
      // min-height or grow to the height of the hero text
      // content if taller
      position: absolute;
    }
  }

  a:hover,
  a:focus {
    img {
      @include large {
        transform: scale(1.1);
        transition: transform 400ms;

        @media (prefers-reduced-motion: reduce) {
          transition: none;
        }
      }
    }
  }
}

// Graphic
.featured-case-study__graphic {
  @include gradient(primary-dark, 300, 200);

  width: 100vw;
  overflow: hidden;
  position: relative;
  align-self: center;
  grid-column: 1 / -1;
  padding: px2rem(104) 0;
  margin-left: space(1.5) * -1;

  @include small {
    margin-left: space(2) * -1;
  }

  @include medium {
    padding: px2rem(192) 0;
  }

  @include large {
    width: initial;
    margin-left: 0;
    align-self: center;
    grid-column: 1 / 7;
  }
}

.featured-case-study__circles {
  display: block;
  margin: 0 auto;
  position: relative;
  width: px2rem(240);
  height: px2rem(246);

  svg {
    top: 0;
    left: 0;
    position: absolute;
    width: px2rem(244);
    height: px2rem(244);
  }
}

.featured-case-study__circle-vertical {
  position: absolute;
  width: px2rem(144);
  height: px2rem(144);
  transform: translateY(122px);
}

.featured-case-study__circle-horizontal {
  width: px2rem(144);
  height: px2rem(144);
  transform: translateY(-122px);
}

// Modifiers
div.featured-case-study--image-left {
  @include display-grid(
    $content: (start: 9, end: 14),
    $image: (start: 2, end: 9),
    $bg: clr(grayscale, 0),
  );

  .featured-case-study__content {
    @include large {
      margin-left: space(2) * -1;
    }
  }
}

div.featured-case-study--image-right {
  @include display-grid(
    $content: (start: 2, end: 7),
    $image: (start: 7, end: 14),
    $bg: clr(grayscale, 0),
  );

  &.featured-case-study--full-width {
    .featured-case-study__content {
      @include large {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .featured-case-study__image {
    @include large {
      margin-left: space(2) * -1;
    }
  }
}

.featured-case-study--full-width {
  .featured-case-study__image,
  .featured-case-study__content {
    margin-left: space(1.5) * -1;

    @include small {
      margin-left: space(2) * -1;
    }

    @include large {
      margin-left: 0;
    }
  }

  .featured-case-study__image {
    width: 100vw;

    @include large {
      width: initial;
    }
  }

  &.featured-case-study--image-right {
    @include display-grid(
      $content: (start: 2, end: 6),
      $image: (start: 7, end: 15)
    );
  }

  &.featured-case-study--image-left {
    @include display-grid(
      $content: (start: 9, end: 14),
      $image: (start: 1, end: 9)
    );
  }
}

div.featured-case-study--graphic {
  .info {
    @extend .paragraph--lg;
  }

  .featured-case-study__content {
    @include large {
      padding-left: 0;
      padding-right: 0;
      grid-column: 8 / 13;
    }
  }
}

.featured-case-study--black.featured-case-study--full-width {
  color: clr(grayscale, 0);
  background-color: clr(grayscale, 1000);

  .heading {
    @extend .heading--dark-decoration;
  }

  .link {
    @extend .link--dark;
  }
}

// Layout inherited style.
.layout--dark {
  .featured-case-study--full-width {
    @extend .featured-case-study--black;
  }
}

.is-front {
  .featured-case-study {
    padding-top: 0;
    padding-bottom: 0;
  }
}
