// Stat - Item.
.stats-component {  
  .heading {
    margin-top: 0;
    margin-bottom: space(1);
    color: clr(grayscale, 1000);

    &::before {
      margin-bottom: space(1);
    }
  }

  .paragraph {
    margin: 0;
    color: clr(grayscale, 600);
  }
}

// Stats.
.stats-list {
  @extend .section;
}

.stats-list__content {
  @extend .section__content;
}

.stats-list__items {
  @include list-reset;

  display: grid;
  row-gap: space(3.5);
  grid-template-columns: 1fr;

  @include medium {
    column-gap: space(1.5);
    grid-template-columns: repeat(2, 1fr);
  }

  @include xl {
    column-gap: space(2);
    grid-template-columns: repeat(4, 1fr);
  }
}

// Layout inherited style.
.layout--dark {
  .stats-component {
    .heading {
      color: clr(grayscale, 0);
    }

    .paragraph {
      color: clr(grayscale, 100);
    }
  }
}
