{% set stats_base_class = 'stats-component' %}

<div {{ bem(stats_base_class) }}>
  {# Heading #}
  {% if stats__heading %}
    {% include "@atoms/text/headings/_heading.twig" with {
      heading_level: 2,
      heading: stats__heading,
      heading_modifiers: ['3xl', 'decorated'],
    } %}
  {% endif %}
  {# Description #}
  {% if stats_description %}
    {% include "@atoms/text/text/01-paragraph.twig" with {
      paragraph_modifiers: ['sm'],
      paragraph_content: stats_description,
    } %}
  {% endif %}
</div>