.main__content {
  form {
    display: inline-block;

    .u-heading-l {
      @extend .heading--lg;
      @extend .heading--decorated;

      margin: 0 !important;
      color: clr(grayscale, 1000) !important;

      @include large {
        font-size: fontsize(40);
      }

      &::before {
        margin-bottom: space(2) !important;
      }
    }

    .u-heading-s {
      @extend .paragraph--md;

      margin: space(2) 0 0;
      font-weight: $font-normal;
      color: clr(grayscale, 900);
    }

    .form-actions + div[id^='edit-markup'] {
      margin-bottom: 0;
    }
  }
}

// Form variants - white.
form.bg-white {
  @extend .section;

  &::before {
    content: '';
    right: 0;
    top: 0;
    height: 100%;
    width: space(1.5);
    position: absolute;
    background-color: clr(primary, 800);

    @include small {
      width: space(2);
    }

    @include large {
      margin-left: 0;
      width: space(3);
    }

    @include xl {
      width: space(4.5);
    }

    section.layout & {
      top: -28px;
      height: calc(100% + 56px);

      @include small {
        top: -32px;
        height: calc(100% + 64px);
      }

      @include large {
        top: -44px;
        height: calc(100% + 88px);
      }

      @include xl {
        top: -52px;
        height: calc(100% + 104px);
      }

      @include xxxl {
        top: -72px;
        height: calc(100% + 144px);
      }
    }
  }

  .u-heading-s {
    @include large {
      position: absolute;
    }
  }

  #edit-markup {
    margin-bottom: 0;
    grid-column: 1 / -1;
    margin-right: space(1.5);

    @include small {
      margin-right: space(2);
    }

    @include large {
      grid-column: 2 / 6;
    }

    @include xl {
      grid-column: 2 / 5;
    }

    & ~ div {
      grid-column: 1 / -1;
      margin-right: space(1.5);

      @include small {
        margin-right: space(2);
      }

      @include large {
        grid-column: 7 / 13;
      }

      @include xl {
        grid-column: 6 / 12;
      }
    }

    & + div {
      margin-top: space(3.5);
    }
  }
}

// Form variants - black.
form.bg-black {
  display: inline-flex;
  flex-direction: column;
  background-color: clr(grayscale, 1000);
  padding: space(4.5) space(1.5) space(1.5);

  @include small {
    padding: space(6) space(2) space(3);
  }

  @include large {
    display: grid;
    grid-template-columns: 1fr;
    padding: space(6) space(3) space(3);
  }

  .u-heading-l {
    color: clr(grayscale, 0) !important;
  }

  .u-heading-s {
    color: clr(grayscale, 100);
  }

  .form-item {
    grid-column: 1 / 3;
  }

  .form-actions ~ .form-item {
    @extend .paragraph--xs;

    margin-bottom: 0;
    margin-top: space(1.5);
    color: clr(grayscale, 300);

    @include xl {
      grid-column: 2 / 2;
      margin: 0 0 0 space(3);
    }

    p {
      margin-top: 0;
    }

    a {
      color: inherit;
    }

    br {
      display: none;
    }
  }
}

.webform-submission-contact-form {
  @extend .bg-white;
}

.section .webform-submission-strategy-maturity-assessment-form {
  grid-column: 1/-1;

  @include large {
    grid-column: 2/10;
  }
}

.webform-progress-bar {
  overflow: hidden;
  margin: 0 -1px;
  padding: 0;
  display: flex;
  list-style: none;

  &-heading {
    font-weight: normal;
    margin-bottom: 0.75em;
  }

  &__page {
    flex: 1;
    display: block;
    height: 10px;
    margin: 0;
    padding: 0 1px;
    background-color: var(--c-grayscale-200);
    background-clip: content-box;
    font-size: 0;

    &--done,
    &--current {
      background-color: var(--c-primary-900);
    }
  }
}

// parent class needed for override
.main__content {
  .webform__quiz--question.form-item__label {
    @extend .heading--md;
  }

  .webform__quiz--item.form-item {
    margin-bottom: 0;

    .description {
      margin: 2.5rem 0;
    }
  }
}


// Form client

.client-form,
.client-client-edit-form,
.client-client-delete-form {
  padding: space(2) space(4) space(6);

  .input_wrapper.text {
    border-bottom: none;

    .form-item__textfield {
      border: 1px solid clr(primary-dark, 950);
      padding-right: space(0.5);
      padding-left: space(0.5);
    }
  }

  .input_wrapper.submit {
    border-bottom: none;
    margin-right: space(1.5);

    .form-submit {
      min-height: 0;
    }

    .remove-button,
    input#edit-field-client-logo-current-items-0-remove-button {
      margin-left: space(1.5);
    }
  }

  .form-actions {
    display: flex;
    margin-top: space(4);

    .button--danger,
    .button {
      min-height: 0;
    }
  }

  .item-container {
    display: flex;
  }

  .input_wrapper {
    &:hover {
      &::after {
        width: 0 !important;
      }
    }

    &:focus-within {
      &::after {
        width: 0 !important;
      }
    }
  }

  .button:hover {
      color: black !important;
  }
}

// Views Block Forms
.views-exposed-form {
  width: 100%;
  position: relative;
  margin-top: space(1.5);

  .filters__wrapper {
    transform-origin: top;
    transform: scale(1, 0);
    position: absolute;
    opacity: 0;
    transition: 300ms cubic-bezier(0.25, 0.8, 0.25, 1);

    @include large {
      position: relative;
      margin-top: space(2.5);
      transform: scale(1, 1);
      opacity: 1;
    }
  }

  .filters__wrapper.expanded {
    margin-top: space(2.5);
    transform: scale(1, 1);
    position: relative;
    opacity: 1;
  }

  // Advanced search = filters
  .filters__toggle {
    @include label--md;

    display: flex;
    position: relative;
    padding-bottom: space(1.5);
    border: none;
    background-color: transparent;
    width: 100%;
    border-bottom: 4px solid clr(primary, 900);
    color: clr(grayscale, 1000);
    text-decoration: none;

    &::before {
      content: "";
      background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 13C0 12.5938 0.3125 12.25 0.75 12.25H2.59375C2.90625 11.25 3.875 10.5 5 10.5C6.09375 10.5 7.0625 11.25 7.375 12.25H15.25C15.6562 12.25 16 12.5938 16 13C16 13.4375 15.6562 13.75 15.25 13.75H7.375C7.0625 14.7812 6.09375 15.5 5 15.5C3.875 15.5 2.90625 14.7812 2.59375 13.75H0.75C0.3125 13.75 0 13.4375 0 13ZM6 13C6 12.4688 5.53125 12 5 12C4.4375 12 4 12.4688 4 13C4 13.5625 4.4375 14 5 14C5.53125 14 6 13.5625 6 13ZM11 5.5C12.0938 5.5 13.0625 6.25 13.375 7.25H15.25C15.6562 7.25 16 7.59375 16 8C16 8.4375 15.6562 8.75 15.25 8.75H13.375C13.0625 9.78125 12.0938 10.5 11 10.5C9.875 10.5 8.90625 9.78125 8.59375 8.75H0.75C0.3125 8.75 0 8.4375 0 8C0 7.59375 0.3125 7.25 0.75 7.25H8.59375C8.90625 6.25 9.875 5.5 11 5.5ZM12 8C12 7.46875 11.5312 7 11 7C10.4375 7 10 7.46875 10 8C10 8.5625 10.4375 9 11 9C11.5312 9 12 8.5625 12 8ZM15.25 2.25C15.6562 2.25 16 2.59375 16 3C16 3.4375 15.6562 3.75 15.25 3.75H8.375C8.0625 4.78125 7.09375 5.5 6 5.5C4.875 5.5 3.90625 4.78125 3.59375 3.75H0.75C0.3125 3.75 0 3.4375 0 3C0 2.59375 0.3125 2.25 0.75 2.25H3.59375C3.90625 1.25 4.875 0.5 6 0.5C7.09375 0.5 8.0625 1.25 8.375 2.25H15.25ZM5 3C5 3.5625 5.4375 4 6 4C6.53125 4 7 3.5625 7 3C7 2.46875 6.53125 2 6 2C5.4375 2 5 2.46875 5 3Z' fill='%23171D21'/%3E%3C/svg%3E%0A") no-repeat center center;
      display: inline-block;
      position: relative;
      width: px2rem(16);
      height: px2rem(16);
      margin-right: px2rem(10);
    }

    &::after {
      content: "";
      position: absolute;
      right: 0;
      background: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.5 6.96875C13.5 7.40625 13.1562 7.71875 12.75 7.71875H7.75V12.7188C7.75 13.1562 7.40625 13.5 7 13.5C6.5625 13.5 6.25 13.1562 6.25 12.7188V7.71875H1.25C0.8125 7.71875 0.5 7.40625 0.5 7C0.5 6.5625 0.8125 6.21875 1.25 6.21875H6.25V1.21875C6.25 0.8125 6.5625 0.5 7 0.5C7.40625 0.5 7.75 0.8125 7.75 1.21875V6.21875H12.75C13.1562 6.21875 13.5 6.5625 13.5 6.96875Z' fill='%23171D21'/%3E%3C/svg%3E%0A") no-repeat center;
      width: px2rem(14);
      height: px2rem(14);
      transition: transform .5s;

      @include large {
        content: none;
      }
    }

    &.expanded::after {
      transform: rotate(-45deg);
    }
  }

  // Input of type text and labels
  .form-fieldset, .form-item {
    margin-bottom: space(2.5);
  }

  label[for*="edit-search"],
  label[for*="edit-name"] {
    @include visually-hidden;
  }

  .input_wrapper.text {
    display: block;
    position: relative;
    font-size: fontsize(16);
    letter-spacing: 0.02em;
    color:clr(grayscale, 600);
    padding: space(1);
    background-color: clr(grayscale, 50);

    &:hover,
    &:focus {
      outline: none;
    }

    .form-text.form-item__textfield {
      padding: 0;

      &::placeholder {
        color: clr(grayscale, 600);
      }
    }
  }

  legend, label {
    @include label--md;
  }

  fieldset .form-item {
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 0;
    padding: space(1) 0;
  }

  // Checkboxes
  .form-item--checkboxes {
    margin-top: space(1);

    // Styles for the Select All / Clear All
    .bef-toggle {
      position: absolute;
      top: px2rem(-16px);
      right: 0;
      outline: none;
      font-weight: $font-medium;
      color: clr(grayscale, 1000);
      text-underline-offset: px2rem(4);
      text-decoration: underline clr(primary, 800);

      &::before {
        background-color: clr(primary-dark, 200);
        bottom: 0;
        content: '';
        left: 0;
        right: 0;
        position: absolute;
        top: 100%;
        transition: right 0.25s, top 0.25s;
        z-index: -1;
      }

      &:hover {
        text-decoration-color: inherit;

        &::before {
          top: 0;
        }
      }

      &:focus {
        background-color: clr(secondary, 100);
        text-decoration-color: clr(secondary, 700);
      }
    }
  }

  .form-checkboxes .form-item {
    padding: space(1) 0;
    border-bottom: 1px solid clr(grayscale, 100) !important;
    max-width: 100% !important;

    &:hover,
    &:focus-within {
      border: none;
    }

    &:hover {
      input:not(:checked)::before {
        background-color: clr(grayscale, 0);
        border: 1.5px solid clr(grayscale, 1000);
      }
    }
  }

  // Submit button
  .button_wrapper.submit {
    position: relative;
    width: 100%;
    height: px2rem(65);

    input {
      text-align: center;
      padding: space(1) space(2);
    }

    .button__icon {
      display: none;
    }
  }
}

.input_wrapper.checkbox,
.input_wrapper.radio {
  position: absolute;
  width: 100%;
  z-index: 1000;
  border: none !important;

  input {
    @include visually-hidden;

    &:checked + .form-item__label::before {
      background-color: clr(primary, 900);
      border-color: clr(primary, 900);
      background-repeat: no-repeat;
      background-position: center;
    }

    &:focus + .form-item__label::before {
      @include default-focus();
    }
  }

  .form-item__label {
    position: relative;
    font-size: fontsize(18);
    font-weight: 450;
    margin-bottom: 0;
    margin-left: space(2.5);
    text-transform: none;

    &::before {
      content: '';
      position: absolute;
      background-color: clr(grayscale, 50);
      border: 1.5px solid clr(grayscale, 200);
      transition: background-color 0.5s ease;
    }
  }

  &:focus {
    outline: none;

    input + .form-item__label::before {
      @include default-focus;
    }
  }
}

.input_wrapper.checkbox {
  input:checked + .form-item__label::before {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0625 0.414062C11.2969 0.648438 11.2969 1 11.0625 1.21094L4.875 7.39844C4.66406 7.63281 4.3125 7.63281 4.10156 7.39844L0.914062 4.21094C0.679688 4 0.679688 3.64844 0.914062 3.41406C1.125 3.20312 1.47656 3.20312 1.6875 3.41406L4.5 6.22656L10.2891 0.414062C10.5 0.203125 10.8516 0.203125 11.0625 0.414062Z' fill='white'/%3E%3C/svg%3E%0A");
  }

  .form-item__label {
    margin-left: space(2.5);

    &::before {
      left: -40px;
      width: space(1.5);
      height: space(1.5);
    }
  }
}

.input_wrapper.radio {
  display: flex;
  align-items: center;

  input {
    &:focus {
      outline: none;

      & + .form-item__label::before  {
        box-shadow: 0 0 0 4px var(--c-secondary-700);
      }
    }

    &:checked {
      & + .form-item__label::after {
        content: disc;
      }
    }
  }

  .form-item__label {
    margin-left: space(2);

    &::before  {
      border-radius: 50%;
      width: space(1);
      height: space(1);
      left: -32px;
      top: 2px;
    }

    &::after {
      content: "";
      width: space(.5);
      height: space(.5);
      background-color: white;
      position: absolute;
      top: 6px;
      left: -28px;
      border-radius: 50%;
    }
  }
}

form.user-login-form {
  max-width: 550px;
  margin: 0 auto;
  display: block;
  padding: space(3.5) space(1.5);

  @include small {
    padding: space(4.5) space(2);
  }

  @include large {
    padding: space(5.5) 0;
  }

  @include xl {
    padding: space(6.5) 0;
  }

  @include xxxl {
    padding: px2rem(144) 0;
  }
}

.mailchimp-signup {
  @extend .section;

  .input_wrapper.checkbox+.form-item__label {
    text-transform: none;
  }
}

.mailchimp-signup__wrapper {
  grid-column: 1/-1;

  @include medium() {
    padding-left: px2rem(40);
  }

  @include large() {
    grid-column: 2/10;
  }

  .input_wrapper.checkbox {
    padding: 0;
  }
}

.search-results-page {
  grid-column: 1/-1;

  @include large {
    grid-column: 2/10;
  }
}

.search-form {
  #edit-basic .form-item__label {
    @include visually-hidden();
  }

  .input_wrapper.search {
    margin-right: 20px;

    input.form-search {
      height: auto;
      padding: 1rem 0;
    }
  }


  .button_wrapper.submit {
    display: inline-flex;
  }

  & + h2 {
    @include visually-hidden();
  }

  & ~ ol li::before {
    content: unset;
  }
}

.search-help-link,
.search-advanced {
  display: none;
}

#editor-link-dialog-form > form.editor-link-dialog > .form-actions {
  display: none;
}
